@use "sass:map";
@use "../utilities" as *;

// Alerts
$alert_colors: (
  "note": #6a9fb5,
  "tip": #90a959,
  "important": #aa759f,
  "warning": #d28445,
  "caution": #ac4142,
);

.alert {
  font: 400 #{$font-size}/#{$line-height} $font-sans;
  color: var(--tx-1);
  background: var(--bg-2);
  border-left: 5px solid var(--bd-1);
  margin: $spacing-unit auto;
  padding: $spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  span {
    font-weight: 700;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  @each $name, $color in $alert_colors {
    &-#{$name},
    &.alert-#{$name} {
      background: rgba($color, 0.2);
      border-left: 5px solid rgba($color, 0.65);
    }

    &-#{$name}-title,
    &-#{$name}-icon {
      color: $color;
    }
  }
}
