@use "../utilities" as *;

.blog-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: $spacing-unit;
}

.blog-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.blog-card {
  background: var(--bg-2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: $spacing-unit;
  transition: transform 0.3s ease;
  margin-bottom: $spacing-unit;

  @media screen and (max-width: 768px) {
    flex: 1 1 100%; // Tata letak satu kolom pada perangkat seluler
  }

  &:hover {
    transform: translateY(-5px);
  }

  .blog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }

  .blog-title {
    font-size: $spacing-unit;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .blog-description {
    font-size: 16px;
    color: var(--bd-2);
    margin-bottom: 10px;
  }

  .blog-read-more {
    color: var(--ac-1);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
