@use "../utilities" as *;

// Fixed Gists skeleton override
// https://github.githubassets.com/assets/gist-embed-8c1a5bab9782.css
// for more see https://github.com/primer/css/
body .gist,
div.gist {
  font-size: 0.875rem;
  color: var(--tx-1);
  text-align: left;
  direction: ltr;

  .highlight {
    padding: 0;
    margin: 0;
    font-family: $font-mono;
    font-size: small;
    font-weight: normal;
    line-height: 1.4;
    color: var(--tx-1);
    background: var(--bg-2);
    border: 0;
  }

  .render-viewer-error,
  .render-viewer-fatal,
  .render-viewer-invalid,
  .octospinner {
    display: none;
  }

  iframe.render-viewer {
    width: 100%;
    height: 480px;
    overflow: hidden;
    border: 0;
  }

  pre,
  code {
    font-family: $font-mono !important;
    white-space: pre;
  }

  .gist-meta {
    padding: 10px;
    overflow: hidden;
    font: 12px $font-sans, $font-emoji;
    color: var(--tx-1);
    background: var(--bg-2);
    border-radius: 0 0 $border-radius $border-radius;

    a {
      font-weight: bold;
      color: var(--tx-1);
      text-decoration: none;
      border: 0;
    }
  }

  .gist-data {
    overflow: auto;
    word-wrap: normal;
    background: var(--bg-3);

    border-bottom: 1px solid var(--bd-1);
    border-radius: $border-radius $border-radius 0 0;
  }

  .gist-file {
    margin-bottom: 1em;
    font-family: $font-mono;

    border: 1px solid var(--bd-1);

    border-bottom: 1px solid var(--bd-1);
    border-radius: $border-radius;

    /* Rendered content (e.g. markdown)*/
    article {
      padding: 6px;
    }

    .scroll {
      .gist-data {
        position: absolute;
        top: 0;
        right: 0;

        bottom: 30px;
        left: 0;
        overflow: scroll;
      }

      .gist-meta {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  .blob-num {
    border: inherit;
    font-size: inherit;
    font-family: $font-sans;
    min-width: inherit;

    padding: 1px 10px !important;

    background: rgba(0, 0, 0, 0);
  }

  .blob-code {
    vertical-align: inherit;
    font: 0.875rem $font-mono;
    padding: 1px 10px !important;
    text-align: left;

    background: rgba(0, 0, 0, 0);
    border: 0;
  }

  /* text selection*/
  .blob-code-inner {
    // font: inherit !important;
    &::selection,
    *::selection {
      background: var(--bg-3);
    }
  }

  .blob-wrapper {
    table {
      border-collapse: collapse;
    }

    tr:first-child td {
      padding-top: $spacing-unit;
    }
  }

  /* Needed for correct indentation of markdown headers in embedded gists.*/
  .markdown-body .anchor {
    display: none;
  }
}
