@use "../utilities" as *;

.anchor-link {
  // margin-left: calc(#{$spacing-unit} / 2);
  font-size: 1.7rem;
  font-style: normal;
  font-weight: bold;
  color: var(--bd-1);
  text-decoration: none;

  &:hover {
    color: var(--ac-1);
    text-decoration: none;
  }
}

// Fixed multiple KaTeX output from rendering markdown.
.katex-html {
  display: none;
}

.mermaid {
  display: block;
}

.emoji {
  height: $font-size;
  width: $font-size;
  display: inline-block;
}
