@use "../utilities" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");

@keyframes popupAndBurst {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.logo {
  margin: 0;
  padding: 0;
  color: var(--ac-1);
  font: 600 #{1.6em}/#{$line-height} "Lato", sans-serif;
  // letter-spacing: -0.85px;
  word-spacing: -2px;
  text-transform: lowercase;
  white-space: nowrap;
  display: inline-block;
}

.anim {
  color: var(--tx-1);
  font-size: 1.2em;

  font-family: "Sacramento", cursive;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 100;
  animation: popupAndBurst 10s forwards;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--tx-1);
}

.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background: var(--bg-2);
  position: relative;
  z-index: 3;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 1rem;
}

.external-link {
  width: 18px;
  height: 18px;
}

.nav-link {
  text-decoration: none;
  color: var(--tx-1);

  &:hover {
    color: var(--ac-1);
  }
}

.hamburger {
  display: none;
  cursor: pointer;

  .line {
    width: 25px;
    height: 3px;
    background: var(--tx-1);
    margin: 5px 0;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }

  &.active .line {
    &:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

@include breakpoint($on-mobile, max) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--bg-2);
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }

  .nav-item {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem auto;
  }

  .nav-menu.active {
    left: 0;
  }
}
