@use "../utilities" as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .page-number,
  .previous,
  .next {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid var(--bd-1);
    border-radius: 3px;
    color: var(--tx-1);
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
      background: var(--bg-3);
    }

    &.disabled {
      // cursor: not-allowed;
      pointer-events: none;
      opacity: 0.4;
    }
  }

  .current {
    background: var(--ac-1);
    color: var(--bd-1);
    border-color: var(--bg-3);

    &:hover {
      background: var(--ac-2);
      border-color: var(--ac-2);
    }
  }
}
