@use "../utilities" as *;

// https://stackoverflow.com/a/68628032

/* Style for the back to top button */
#scroll-top__link {
  cursor: pointer;
  position: fixed;
  background: var(--bg-3);
  color: var(--tx-1);
  right: 30px;
  bottom: 30px;
  padding: 5px 10px;
  z-index: 2;
  border-radius: 8px;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:hover {
    background: var(--ac-1);
    color: var(--bg-1);
    text-decoration: none;
  }

  &.visible {
    opacity: 1;
  }
}

// https://css-tricks.com/custom-scrollbars-in-webkit/

/* Custom scrollbar styling for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  @include breakpoint($on-desktop, min) {
    width: 12px;
  }

  &-thumb,
  &-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }

  &-track {
    background: var(--bg-3);
  }

  &-thumb {
    // height: 6em;
    border: 2px solid var(--bg-3);
    background: var(--tx-1);

    &:hover {
      background: var(--ac-1);
    }

    // &:window-inactive {
    //   background: var(--bg-1);
    // }
  }
}

// Note: Firefox doesn't support ::-moz-scrollbar, use scrollbar-width and scrollbar-color instead
// Custom scrollbar styling for Firefox
// html {
//   scroll-behavior: smooth;
//   scrollbar-width: thin;
//   scrollbar-color: #6a11cb var(--bg-3);
// }

// ::selection {
//   background: var(--ac-1);
//   color: var(--tx-1);
// }
