@use "../utilities" as *;

.toc {
  @include breakpoint($on-desktop, min) {
    overflow: hidden;
    position: fixed;
  }
  font-family: $font-sans;
}

.toc > .toc-list {
  overflow: hidden;
  position: relative;
}

.toc-list li,
.toc > .toc-list li {
  list-style: none;
}

.toc-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.toc-list {
  margin: 0;
  padding-left: 10px;
}

.toc-link {
  text-decoration: none;
  color: currentColor;
  height: 100%;

  &::before {
    content: " ";
    background: var(--bd-1);
    display: inline-block;
    position: absolute;
    left: 0;
    width: 2px;
    height: inherit;
  }
}

.is-active-link {
  // font-size: 18px;
  font-weight: 700;
  color: var(--ac-1);

  &::before {
    background: var(--ac-1);
  }
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {
  position: fixed !important;
  top: 0;
}
