{%- if site.paginate -%}
  {%- assign posts = paginator.posts -%}
{%- else -%}
  {%- assign posts = site.posts -%}
{%- endif -%}
{%- assign date_format = site.date_format | default: '%B %d, %Y' -%}
<div class="blog-cards">
  {%- for post in posts -%}
    <a class="blog-link" href="{{ post.url | relative_url }}">
      <div class="blog-card">
        {%- if post.image -%}
          {%- assign image_url = post.image.url | default: post.image | relative_url -%}
          {%- assign image_alt = post.image.alt | default: post.title -%}
          <img class="blog-image" src="{{ image_url }}" alt="{{ image_alt }}">
        {%- endif -%}
        <h2 class="blog-title">{{ post.title }}</h2>
        <p class="blog-description">{{ post.description }}</p>
        {%- comment -%} <a href="{{ post.url | relative_url }}" class="blog-read-more">Read more</a> {%- endcomment -%}
      </div>
    </a>
  {%- endfor -%}
</div>
