<header class="header">
  {%- assign nav_items = site.pages | where: 'navigation', true | sort: 'order' -%}
  {%- assign site_brand = site.brand | default: site.title | split: ' ' -%}

  <nav class="navbar">
    <a class="nav-logo" href="{{ '/' | relative_url }}">
      <div class="logo">
        <span>{{ site_brand[0] }}</span>
        <span class="anim">{{ site_brand[1] }}</span>
        <span>{{ site_brand[2] }}</span>
      </div>
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
      </li>
      {%- for item in nav_items -%}
        {% assign item_name = item.name | default: item.title %}
        {% assign item_link = item.external_link | default: item.url %}
        {% assign item_icon = item.external_icon | default: '' %}
        {% if item_link contains 'http' %}
          {% assign _blank_url = 'target="_blank" rel="noopener noreferrer"' %}
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item_link }}" {{ _blank_url }}>
            {{- item.title -}}
            {% if item_icon == true -%}
              {%- include svg_symbol.html id="external-link" class="external-link" -%}
            {%- endif -%}
          </a>
        </li>
      {%- endfor -%}
    </ul>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>
