{% assign nav_items = site.pages | where: 'navigation', true | sort: 'order' %}
{% assign site_brand = site.brand | default: site.title | split: ' ' %}

<nav class="navbar">
  <a class="nav-logo" href="{{ '/' | relative_url }}">
    <div class="logo">
      <span>{{ site_brand[0] }}</span>
      <span class="anim">{{ site_brand[1] }}</span>
      <span>{{ site_brand[2] }}</span>
    </div>
  </a>
  <ul class="nav-menu">
    <li class="nav-item">
      <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
    </li>
    {% for item in nav_items %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>

<script>
  const hamburger = document.querySelector('.hamburger');
  const navMenu = document.querySelector('.nav-menu');
  const navLink = document.querySelectorAll('.nav-link');

  hamburger.addEventListener('click', mobileMenu);
  navLink.forEach((n) => n.addEventListener('click', closeMenu));

  function mobileMenu() {
    hamburger.classList.toggle('active');
    navMenu.classList.toggle('active');
  }

  function closeMenu() {
    hamburger.classList.remove('active');
    navMenu.classList.remove('active');
  }
</script>
