{% assign path_type = include.type | default: 'header' | strip | downcase %}
{% assign page_paths = site.data.navigation[path_type] %}
{% if path_type == 'header' %}
  {% assign nav_classes = 'site-navbar main-menu' %}
  {% assign nav_aria_label = 'Main' %}
{% else %}
  {% assign nav_classes = 'site-navbar second-menu' %}
  {% assign nav_aria_label = 'Second' %}
{% endif %}

{% if include.class %}
  {% assign nav_classes = nav_classes | append: ' ' | append: include.class | strip %}
{% endif %}

{% if page_paths %}
  <nav class="{{ nav_classes }}" aria-label="{{ nav_aria_label }} Navigation">
    {% if path_type == 'header' %}
      <input id="menu-toggle" type="checkbox" name="toggle-menu" aria-checked="false">
      <label for="menu-toggle" class="menu-burger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </label>
    {% endif %}
    <ul class="menu-list">
      {% for item in page_paths %}
        {% if item.sub_menu and item.title %}
          {% assign item_has_submenu = ' has-submenu' %}
        {% endif %}
        <li class="menu-item{{ item_has_submenu }}">
          {% if item.sub_menu and item.title %}
            <input id="submenu-{{ path_type }}-{{ forloop.index }}" type="checkbox" name="toggle-submenu">
            <label for="submenu-{{ path_type }}-{{ forloop.index }}">
              {{- item.title -}}
              {% svg_sprite id='chevron-up' class='icon chevron-up' %}
              {% svg_sprite id='chevron-down' class='icon chevron-down' %}
            </label>
            <ul class="menu-sublist">
              <label for="submenu-{{ path_type }}-{{ forloop.index }}" class="menu-label-on-mb">
                {% svg_sprite id='chevron-left' class='icon chevron-left' %}
                {{- 'Go ' -}}
                {{- item.title -}}
              </label>
              {% for sub_item in item.sub_menu %}
                <li class="menu-subitem">
                  {% assign sub_nav_item = site.pages | where: 'path', sub_item | first %}
                  {% if sub_nav_item.title %}
                    {% assign sub_nav_link = sub_nav_item.redirect_to | default: sub_nav_item.url %}
                    {% assign sub_nav_attrs = '' %}
                    {% if sub_nav_link contains '://' %}
                      {% assign sub_nav_attrs = 'target="_blank" rel="noopener noreferrer"' | strip %}
                    {% endif %}
                    <a
                      class="menu-sublink"
                      href="{{- sub_nav_link | relative_url -}}"
                      title="{{- sub_nav_item.title -}}"
                      {{ sub_nav_attrs | strip }}
                    >
                      {{- sub_nav_item.title -}}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% assign nav_item = site.pages | where: 'path', item | first %}
            {% if nav_item.title %}
              {% assign nav_link = nav_item.redirect_to | default: nav_item.url %}
              {% assign link_class = 'menu-link' %}
              {% assign link_attrs = '' %}
              {% if nav_link == page.url %}
                {% assign link_class = link_class | append: ' current' | strip %}
                {% assign link_attrs = link_attrs | append: ' aria-current="page"' | strip %}
              {% endif %}
              {% if nav_link contains '://' %}
                {% assign link_attrs = link_attrs | append: ' target="_blank" rel="noopener noreferrer"' | strip %}
              {% endif %}
              <a
                class="{{- link_class | strip -}}"
                href="{{- nav_link | relative_url -}}"
                title="{{- nav_item.title -}}"
                {{ link_attrs | strip }}
              >
                {{- nav_item.title -}}
              </a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      {% if path_type == 'header' %}
        <li class="menu-item has-action">
          {% include theme-toggle.html type='checkbox' %}
          <a class="feed-rss" href="{{ 'feed.xml' | absolute_url }}" title="Subscribe via RSS" rel="me">
            {% svg_sprite id='rss' class='icon' %}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
