{% assign path_type = include.type | default: 'header' | strip | downcase %}
{% assign page_paths = site.data.navigation[path_type] %}
{% if path_type == 'header' %}
  {% assign nav_classes = 'site-navbar main-menu' %}
  {% assign nav_aria_label = 'Main' %}
{% else %}
  {% assign nav_classes = 'site-navbar second-menu' %}
  {% assign nav_aria_label = 'Second' %}
{% endif %}

{% if include.class %}
  {% assign nav_classes = nav_classes | append: ' ' | append: include.class | strip %}
{% endif %}

{% if page_paths %}
  <nav class="{{ nav_classes }}" aria-label="{{ nav_aria_label }} Navigation">
    {% assign first_list_attr = '' %}
    {% if path_type == 'header' %}
      {% assign first_list_attr = ' id="menu"' %}
      <input id="menu-toggle" type="checkbox" name="toggle-menu" aria-checked="false">
      <label for="menu-toggle" class="menu-burger" aria-controls="menu" aria-expanded="false">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </label>
    {% endif %}
    <ul class="menu-list" {{ first_list_attr | strip }}>
      {% for item in page_paths %}
        <li class="menu-item{% if item.sub_menu and item.title %} has-submenu{% endif %}">
          {% if item.sub_menu and item.title %}
            <input
              id="submenu-{{ path_type }}-{{ forloop.index }}"
              type="checkbox"
              name="toggle-submenu"
              aria-checked="false"
            >
            <label
              for="submenu-{{ path_type }}-{{ forloop.index }}"
              aria-expanded="false"
            >
              {{- item.title -}}
            </label>
            <ul class="menu-sublist">
              {% for sub_item in item.sub_menu %}
                <li class="menu-subitem">
                  {% assign sub_nav_item = site.pages | where: 'path', sub_item | first %}
                  {% if sub_nav_item.title %}
                    {% assign sub_nav_link = sub_nav_item.redirect_to | default: sub_nav_item.url %}
                    {% assign sub_nav_attrs = '' %}
                    {% if sub_nav_link contains '://' %}
                      {% assign sub_nav_attrs = 'target="_blank" rel="noopener noreferrer"' | strip %}
                    {% endif %}
                    <a
                      class="menu-sublink"
                      href="{{- sub_nav_link | relative_url -}}"
                      title="{{- sub_nav_item.title -}}"
                      {{ sub_nav_attrs | strip }}
                    >
                      {{- sub_nav_item.title -}}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% assign nav_item = site.pages | where: 'path', item | first %}
            {% if nav_item.title %}
              {% assign nav_link = nav_item.redirect_to | default: nav_item.url %}
              {% assign link_class = 'menu-link' %}
              {% assign link_attrs = '' %}
              {% if nav_link == page.url %}
                {% assign link_class = link_class | append: ' current' | strip %}
                {% assign link_attrs = link_attrs | append: ' aria-current="page"' | strip %}
              {% endif %}
              {% if nav_link contains '://' %}
                {% assign link_attrs = link_attrs | append: ' target="_blank" rel="noopener noreferrer"' | strip %}
              {% endif %}
              <a
                class="{{- link_class | strip -}}"
                href="{{- nav_link | relative_url -}}"
                title="{{- nav_item.title -}}"
                {{ link_attrs | strip }}
              >
                {{- nav_item.title -}}
              </a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      {% if path_type == 'header' %}
        <li class="menu-item has-action">
          {% include theme-toggle.html type='checkbox' %}
          <a rel="me" class="feed-rss" href="{{ 'feed.xml' | absolute_url }}">
            {%- include svg_symbol.html id='rss' -%}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
