{%- assign pager = paginator | default: page -%}
{%- assign prev_page = pager.previous_page_path | default: pager.previous -%}
{%- assign next_page = pager.next_page_path | default: pager.next -%}
{%- if prev_page -%}
  {%- assign class = 'page-prev' -%}
  {%- assign path = prev_page -%}
{%- else -%}
  {%- assign class = 'page-next' -%}
  {%- assign path = next_page -%}
{%- endif -%}
{%- if pager.previous or pager.next -%}
  {%- assign class = class | append: ' prev-next' -%}
{%- endif -%}
<nav class="pagination" aria-label="Pagination">
  <ol class="pagination__list">
    {%- comment -%} Previous Page {%- endcomment -%}
    <li class="pagination__item item-prev">
      {%- if prev_page -%}
        <a class="{{ class }}" href="{{ prev_page | relative_url }}">
          {%- include svg_symbol.html id='chevron-left' %} Prev</a
        >
      {%- else -%}
        <span class="{{ class }} disabled">Prev</span>
      {%- endif -%}
      {%- if include.page_title and prev_page.title -%}
        <span class="item-title">{{ prev_page.title }}</span>
      {%- endif -%}
    </li>

    {%- comment -%} Total Page {%- endcomment -%}
    {%- if pager.total_pages -%}
      <li class="pagination__item item-totals">
        {%- for count in (1..pager.total_pages) -%}
          {%- if count == pager.page -%}
            <span class="{{ class }} current" aria-current="page">{{ count }}</span>
          {%- else -%}
            <a class="{{ class }}" aria-current="step" href="{{ path | relative_url }}">{{- count -}}</a>
          {%- endif -%}
        {%- endfor -%}
      </li>
    {%- endif -%}

    {%- comment -%} Next Page {%- endcomment -%}
    <li class="pagination__item item-next">
      {%- if next_page -%}
        <a class="{{ class }}" href="{{ next_page | relative_url }}"
          >Next
          {% include svg_symbol.html id='chevron-right' -%}
        </a>
      {%- else -%}
        <span class="{{ class }} disabled">Next</span>
      {%- endif -%}
      {%- if include.page_title and next_page.title -%}
        <span class="item-title">{{ next_page.title }}</span>
      {%- endif -%}
    </li>
  </ol>
</nav>
