{%- assign vendor_js = '/assets/js/vendor' | relative_url -%}
{%- if page.collection == 'posts' or page.layout == 'post' -%}
  {%- include comments.html -%}
  <script type="text/javascript" src="{{- vendor_js -}}/clipboard.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var btns = document.querySelectorAll('button');
      var clipboard = new ClipboardJS(btns);

      clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });

      clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });
    });
  </script>
  {%- if page.toc == true or page.table_of_content == true -%}
    <script type="text/javascript" src="{{- vendor_js -}}/tocbot.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        tocbot.init({
          tocSelector: '#toc',
          contentSelector: '[itemprop="articleBody"]',
          ignoreSelector: '.no_toc',
          headingSelector: 'h2, h3, h4',
          orderedList: false,
          scrollSmooth: true,
          scrollSmoothOffset: -100,
        });
        tocbot.refresh();
      });
    </script>
  {%- endif -%}
  {%- if page.mermaid == true or page.diagram == true -%}
    <script type="text/javascript" src="{{- vendor_js -}}/mermaid.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        mermaid.initialize({
          startOnLoad: true,
          theme: 'default',
          securityLevel: 'loose',
        });
        let mermaidClass = document.getElementsByClassName('language-mermaid');
        Array.from(mermaidClass).forEach((element) => {
          element.classList.add('mermaid');
          mermaid.init(undefined, element);
        });
      });
    </script>
  {%- endif -%}
{%- endif -%}
