{%- assign vendor_js = '/assets/js/vendor' | relative_url -%}
{%- if page.collection == 'posts' or page.layout == 'post' -%}
  {%- include comments.html -%}
  {%- if page.toc == true or page.table_of_content == true -%}
    <script type="text/javascript" src="{{- vendor_js -}}/tocbot.min.js"></script>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        function initToc() {
          // Clear any existing TOC
          tocbot.destroy();

          const tocSelector = window.innerWidth >= 768 ? '#toc' : '#toc-mobile';

          tocbot.init({
            tocSelector: tocSelector,
            contentSelector: '[itemprop="articleBody"]',
            ignoreSelector: '.no_toc',
            headingSelector: 'h2, h3',
            orderedList: false,
          });

          tocbot.refresh();
        }

        // Initialize TOC on page load
        initToc();

        /* // Re-initialize TOC on window resize
        window.addEventListener('resize', function () {
          initToc();
        }); */
      });
    </script>
  {%- endif -%}
{%- endif -%}
