{% capture _content %}{{ content }}{% endcapture %}

{% comment %} Change the icon of checkbox {% endcomment %}
{% if _content contains '<input type="checkbox" class="task-list-item-checkbox"' %}
  {% assign _content = _content
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked" />',
      '<i class="ti ti-checkbox task-list-checked"></i>'
    | replace: '<input type="checkbox" class="task-list-item-checkbox" disabled="disabled" />',
      '<i class="ti ti-square task-list-unchecked"></i>'
  %}
{% endif %}

{% if _content contains '<pre class="highlight">' %}
  {% assign _content = _content
    | replace: '<div class="highlight"><pre class="highlight">', '<pre class="highlight">'
    | replace: '</code></pre></div>', '</code></pre>'
    | replace: '<figure class="highlight"><pre>',
      '<div class="language-figure highlighter-rouge"><pre class="highlight">'
    | replace: '</figure>', '</div>'
    | replace: '<pre><code class="language-plain">',
      '<div class="language-plain highlighter-rouge"><pre class="highlight">'
  %}

  {% assign _query_selector = '<pre class="highlight">' %}
  {% assign _code_spippets = _content | split: _query_selector %}
  {% for _snippet in _code_spippets %}
    {% if _snippet contains 'data-lang=' %}
      {% assign _code_class = _snippet | split: '><' | first %}
      {% assign _data_lang = _code_class | split: 'data-lang=' | last | replace: '"' %}
      {% assign _new_class = 'language-' | append: _data_lang %}
      {% assign _content = _content | replace: 'language-figure', _new_class | replace: _code_class, '<code' %}
    {% endif %}
  {% endfor %}

  {% assign _code_spippets = _content | split: _query_selector %}
  {% assign _new_content = '' %}
  {% for _snippet in _code_spippets %}
    {% if forloop.last %}
      {% assign _new_content = _new_content | append: _snippet %}
    {% else %}
      {% assign _code_lang = _snippet | split: 'language-' | last | split: ' ' | first %}
      {% assign _label_icon = 'code' %}

      {% case _code_lang %}
        {% when 'plain', 'text', 'txt' %}
          {% assign _label_text = 'Plain' %}
          {% assign _label_icon = 'txt' %}
        {% when 'actionscript', 'as', 'as3' %}
          {% assign _label_text = 'ActionScript' %}
        {% when 'applescript' %}
          {% assign _label_text = 'AppleScript' %}
        {% when 'brightscript', 'bs', 'brs' %}
          {% assign _label_text = 'BrightScript' %}
        {% when 'cfscript', 'cfc' %}
          {% assign _label_text = 'CFScript' %}
        {% when 'coffeescript', 'coffee', 'coffee-script' %}
          {% assign _label_text = 'CoffeeScript' %}
        {% when 'cs', 'csharp' %}
          {% assign _label_text = 'C#' %}
        {% when 'erl' %}
          {% assign _label_text = 'Erlang' %}
        {% when 'graphql' %}
          {% assign _label_text = 'GraphQL' %}
        {% when 'haskell', 'hs' %}
          {% assign _label_text = 'Haskell' %}
        {% when 'javascript', 'js' %}
          {% assign _label_text = 'JavaScript' %}
          {% assign _label_icon = 'javascript' %}
        {% when 'make', 'mf', 'gnumake', 'bsdmake' %}
          {% assign _label_text = 'Makefile' %}
        {% when 'md', 'mkd' %}
          {% assign _label_text = 'Markdown' %}
          {% assign _label_icon = 'markdown' %}
        {% when 'm' %}
          {% assign _label_text = 'Matlab' %}
        {% when 'objective_c', 'objc', 'obj-c', 'obj_c', 'objectivec' %}
          {% assign _label_text = 'Objective-C' %}
        {% when 'perl', 'pl' %}
          {% assign _label_text = 'Perl' %}
        {% when 'php', 'php3', 'php4', 'php5' %}
          {% assign _label_text = 'PHP' %}
          {% assign _label_icon = 'php' %}
        {% when 'py' %}
          {% assign _label_text = 'Python' %}
          {% assign _label_icon = 'Python' %}
        {% when 'rb' %}
          {% assign _label_text = 'Ruby' %}
        {% when 'rs', 'no_run', 'ignore', 'should_panic' %}
          {% assign _label_text = 'Rust' %}
        {% when 'bash', 'zsh', 'ksh', 'sh' %}
          {% assign _label_text = 'Shell' %}
        {% when 'st', 'squeak' %}
          {% assign _label_text = 'Smalltalk' %}
        {% when 'tex' %}
          {% assign _label_text = 'TeX' %}
        {% when 'latex' %}
          {% assign _label_text = 'LaTex' %}
        {% when 'ts', 'typescript' %}
          {% assign _label_text = 'TypeScript' %}
        {% when 'vb', 'visualbasic' %}
          {% assign _label_text = 'Visual Basic' %}
        {% when 'vue', 'vuejs' %}
          {% assign _label_text = 'Vue.js' %}
        {% when 'css', 'scss', 'sass', 'less' %}
          {% assign _label_icon = 'sass' %}
        {% when 'css', 'html', 'scss', 'ssh', 'toml', 'xml', 'yaml', 'json' %}
          {% assign _label_text = _code_lang | upcase %}
        {% else %}
          {% assign _label_text = _code_lang | capitalize %}
      {% endcase %}
      {% capture _code_header %}<div class="code-header"><span data-lang="{{ _label_text | strip }}"><i class="ti ti-{{ _label_icon | downcase }}"></i></span><button aria-label="copy"><i class="ti ti-clipboard"></i></button></div>{% endcapture %}
      {% assign _new_content = _new_content | append: _snippet | append: _code_header | append: _query_selector %}
    {% endif %}
  {% endfor %}

  {% assign _content = _new_content %}
  {% assign _content = _content
    | replace: '<td class="gutter gl">', '<td class="rouge-gutter gl">'
    | replace: '<td class="code">', '<td class="rouge-code">'
  %}
{% endif %}

{% comment %} OUTPUTS {% endcomment %}
{{ _content }}
