{% if page.layout == 'post' %}
  {% assign toc_title = 'Table of Content' %}
  {% if include.mobile == true %}
    <details class="only-on-mobile" open>
      <summary class="toc-title">{{ toc_title }}</summary>
      <nav>
        {% include toc.html html=content sanitize=true class="toc-list" h_min=2 h_max=3 %}
      </nav>
    </details>
  {% else %}
    <aside class="sidebar hide-on-mobile">
      <nav id="toc" class="toc-sticky">
        <h1 class="toc-title">{{ toc_title }}</h1>
        {% include toc.html html=content sanitize=true class="toc-list" h_min=2 h_max=3 %}
      </nav>
    </aside>
  {% endif %}
{% endif %}
