@use "sass:map";
@use "variables" as *;

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin reset-link {
  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include reset-spacing();
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list();

  li {
    display: inline-block;

    margin: {
      left: -2px;
      right: 2em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin relative-font($size) {
  font-size: #{$size}rem;
}

@mixin breakpoint($breakpoint: 992px, $viewport: max) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$viewport}-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @media (#{$viewport}-width: $breakpoint) {
      @content;
    }
  }
}
