@use "sass:map";

$base00: #1d1f21 !default;
$base01: #282a2e !default;
$base02: #373b41 !default;
$base03: #969896 !default;
$base04: #c1cadb !default;
$base05: #d8dee9 !default;
$base06: #e5e9f0 !default;
$base07: #eceff4 !default;

$red: #cc6666 !default;
$orange: #de935f !default;
$yellow: #f0c674 !default;
$green: #b5bd68 !default;
$cyan: #8abeb7 !default;
$blue: #81a2be !default;
$violet: #b294bb !default;
$brown: #a3685a !default;
$magenta: #d33682 !default;

// Font Family
$font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji", "Noto Emoji", EmojiOne, "Android Emoji", EmojiSymbols;
$font-sans: "Open Sans", "Lato", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto,
  Helvetica, Arial, sans-serif, $font-emoji !default;
$font-mono: "Fira Code", "JetBrains Mono", "Menlo", "Inconsolata", "Consolas",
  "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$font-serif: "Cormorant Garamond", "Times New Roman", Times, serif !default;

// Typography
$heading-sizes: (
  "h1": 2rem,
  "h2": 1.75rem,
  "h3": 1.5rem,
  "h4": 1.25rem,
  "h5": 1rem,
  "h6": 0.875rem,
) !default;

$font-heading: $font-sans !default;
$font-weight: 400 !default;
$font-size: map.get($heading-sizes, h5) !default;

// Layouts
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
) !default;

$line-height: 1.5 !default;
$spacing-unit: 20px !default;
$border-radius: 3px !default;

$width-stack: map.get($breakpoints, "md") !default;
$on-mobile: map.get($breakpoints, "sm") !default;
$on-desktop: map.get($breakpoints, "lg") !default;
