.accordion {
  margin-bottom: 1rem;
}

.accordion-checkbox {
  display: none;
}

.accordion-label {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 0.5rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

.accordion-checkbox:checked + .accordion-label + .accordion-content {
  max-height: 1000px; /* Sesuaikan dengan tinggi konten */
  padding: 1rem;
  transition: max-height 0.5s ease-in;
}
