@use "../variables" as *;

/**
 * Alerts
 */
p.alert {
  display: inherit;
}

.alert {
  --alert-primary: var(--color-text);
  --alert-secondary: var(--color-glare);
  background-color: var(--alert-secondary);
  border-radius: 5px;
  color: inherit;
  font: inherit;
  position: relative;
  padding: var(--space-unit);
  margin-block: var(--space-unit);
  border: 0px solid var(--alert-primary);

  display: flex;
  flex-flow: column wrap;
  gap: 0.875rem;

  .alert-header {
    color: var(--alert-primary);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    line-height: 1;
  }

  .alert-icon {
    display: inline-flex;

    svg {
      width: 1.25em;
      height: 1.25em;
    }

    i {
      font-weight: normal;
      font-size: 1.25em;
    }
  }

  &:not([data-type]) {
    border-top-width: 5px;
    // margin-inline-end: 5px;

    .alert-header {
      background-color: var(--color-background);
      color: var(--alert-primary);
      position: absolute;
      border-radius: 50%;
      padding: 5px;
      left: -0.5rem;
      top: -1rem;
    }

    .alert-icon {
      display: block;
    }

    .alert-name {
      display: none;
    }
  }

  &[data-type="1"] {
    border-top-width: 5px;

    .alert-header {
      background-color: var(--alert-primary);
      border-radius: 5px 0px 5px 0px;
      color: var(--color-light);
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
      position: absolute;
      top: -0.8rem;
      left: 0;
    }

    .alert-icon {
      display: none;
    }

    .alert-content {
      margin-top: 0.5rem;
    }
  }

  &[data-type="2"] {
    border-left-width: 5px;
    border-radius: 0px 5px 5px 0px;
    align-items: first baseline;
    flex-flow: row nowrap;
    gap: 0.5rem;

    .alert-header {
      display: block;
      line-height: 1;
      // height: max-content;
    }

    .alert-name {
      display: none;
    }
  }

  &[data-type="3"] {
    border-width: 1px;
    border-left-width: 5px;
  }

  &[data-type="4"] {
    border-width: 1px;
  }

  // &[data-type="5"] {}

  .alert-content {
    li:last-child p,
    > :last-child {
      margin-bottom: 0;
    }
  }

  // Define custom alert types and colors
  $alerts: (
    "caution": #f44336,
    "important": #6c71c4,
    "note": #03a9f4,
    "tip": #4caf50,
    "warning": #ff9800,
  );

  // Iterate over each alert type and apply styles
  @each $name, $value in $alerts {
    &.alert-#{$name} {
      --alert-primary: #{rgba($value, 1)};
      --alert-secondary: #{rgba($value, 0.5)};
      --alert-tertiary: #{rgba($value, 0.5)};
    }
  }
}
