@use "../variables" as *;

/**
 * Alerts
 */
p.alert {
  display: inherit;
}

.alert {
  --alert-border-width: 4px;
  --alert-primary: var(--color-text);
  --alert-secondary: var(--color-glare);
  background-color: var(--alert-secondary);
  color: inherit;
  font: inherit;
  position: relative;
  padding: var(--space-unit);
  margin-block: var(--space-unit);
  border: 0px solid var(--alert-primary);
  border-left-width: var(--alert-border-width);
  border-radius: 0;

  display: flex;
  flex-flow: column wrap;
  gap: 0.875rem;

  .alert-header {
    color: var(--alert-primary);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    font-family: var(--font-sans);
    font-weight: bold;
    line-height: 1;

    .alert-icon {
      display: inline-flex;

      svg {
        width: 1.25em;
        height: 1.25em;
      }

      i {
        font-weight: normal;
        font-size: 1.25em;
      }
    }
  }

  &:not([data-type]),
  &[data-type="1"] {
    border-width: 0px;
    margin-block: calc(var(--space-unit) * 1.5) var(--space-unit);
    border-top-width: var(--alert-border-width);
  }

  &:not([data-type]) {
    .alert-header {
      background-color: var(--color-background);
      color: var(--alert-primary);
      position: absolute;
      border-radius: 50%;
      padding: 5px;
      left: -0.5rem;
      top: -1rem;

      .alert-icon {
        display: block;
      }

      .alert-name {
        display: none;
      }
    }
  }

  &[data-type="1"] {
    .alert-header {
      background-color: var(--alert-primary);
      border-radius: 5px 0px 5px 0px;
      color: var(--color-light);
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
      position: absolute;
      top: -0.8rem;
      left: 0;

      .alert-icon {
        display: none;
      }

      .alert-content {
        margin-top: 0.5rem;
      }
    }
  }

  &[data-type="2"] {
    border-left-width: var(--alert-border-width);
    border-radius: 0px 5px 5px 0px;
    align-items: baseline;
    flex-flow: row nowrap;
    gap: 0.5rem;

    .alert-header {
      display: block;
      line-height: 1;
      // height: max-content;

      .alert-name {
        display: none;
      }
    }
  }

  .alert-content {
    li:last-child p,
    > :last-child {
      margin-bottom: 0;
    }
  }

  // Define custom alert types and colors
  $alerts: (
    "caution": #f44336,
    "important": #6c71c4,
    "note": #03a9f4,
    "tip": #4caf50,
    "warning": #ff9800,
  );

  // Iterate over each alert type and apply styles
  @each $name, $value in $alerts {
    &.alert-#{$name} {
      --alert-primary: #{rgba($value, 1)};
      --alert-secondary: #{rgba($value, 0.3)};
    }
  }
}
