details {
  --details-border-radius: 5px;

  > :last-child {
    margin-bottom: 0;
  }

  summary {
    @extend %details-style;
    background-color: #2196f3;
    padding: 0.5rem 1.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    max-width: max-content;

    i,
    svg {
      color: currentColor;
      margin-left: 0.75rem;
      transition: transform 0.3s;
    }

    &:not(:has(i, svg))::after {
      content: "";
      display: inline-block;
      height: 0;
      width: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 10px solid currentColor;
      transition: 0.3s;
    }
  }

  %details-style {
    border-radius: var(--details-border-radius);
  }

  &[open] {
    > :not(summary) {
      @extend %details-style;
      background-color: var(--color-glare);
      border-top-left-radius: 0;
      padding: 1.5rem;
    }

    > summary {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      i,
      svg,
      &:not(:has(i, svg))::after {
        transform: rotate(180deg);
      }
    }
  }
}
