@use "../helpers" as *;
@use "../variables" as *;

/**
 * Images
 */
p:has(.img) {
  display: inline-block;

  &::after {
    clear: both;
  }
}

.img {
  max-width: clamp(50%, 50vw, 100%);
  display: block;

  &.center,
  &.left,
  &.right {
    margin-block: var(--space-unit-xs);
  }

  /* TODO: https://stackoverflow.com/questions/20917632/how-to-align-an-image-at-middle-of-wrapped-text */
  &.center {
    margin-inline: auto;
  }

  &.left {
    float: left;
    margin-inline: auto var(--space-unit);
  }

  &.right {
    float: right;
    margin-inline: var(--space-unit) auto;
  }
}
