@use "../helpers" as *;
@use "../variables" as *;

/**
 * Navigation
 */
.menu-burger,
.head-title,
.site-action {
  position: relative;
  z-index: 3;
  transition: color 0.6s;
}

.main-menu {
  --space-unit: 20px;

  .menu-list#menu {
    display: flex;
    gap: var(--space-unit);
    align-items: center;

    &,
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      position: relative;

      label {
        cursor: pointer;
      }

      ul,
      input[type="checkbox"] {
        display: none; /* Hide checkboxes */
      }

      input:checked + label + ul {
        display: block; /* Show sub-menu when checkbox is checked */
      }

      ul {
        background-color: var(--color-background);
        border: 1px solid var(--color-border);
        padding: calc(var(--space-unit) * 0.5);
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;

        li {
          width: 200px;
        }
      }

      .sub-menu {
        border-left: 1px solid var(--color-primary);

        .sub-menu {
          left: 100%; /* Position to the right of the parent */
          top: 0;
        }
      }

      a {
        color: var(--color-text);
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}

.site-navbar {
  &,
  .menu-list {
    display: flex;
    align-items: center;
  }

  .menu-list {
    position: relative;
    gap: var(--space-unit-xl);
    padding: 0;
    margin: 0;
  }

  .menu-item {
    display: list-item;

    &:has(.current) {
      color: var(--color-accent);
      list-style-type: square;
    }

    &:not(:has(.current)) {
      list-style-type: none;
    }

    &.menu-action {
      display: flex;
      align-items: center;
      gap: var(--space-unit, 20px);
    }
  }

  .menu-link {
    &:not(:hover) {
      text-decoration: none;
    }

    &.current {
      color: var(--color-accent);
    }
  }

  #menu-toggle,
  .menu-burger {
    cursor: pointer;
    display: none;
  }

  .menu-burger {
    .line {
      background-color: var(--color-text);
      display: block;
      width: 30px;
      height: 3px;
      margin: 5px 0;
      border-radius: 5px;
      transition: 0.3s;
    }
  }
}

@include media-query("md", "max") {
  .site-navbar {
    .menu-burger {
      display: block;
    }

    .menu-item {
      font-size: var(--font-size-xl);
    }

    .menu-link {
      color: var(--color-text);
    }

    .menu-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: var(--space-unit);

      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100vw; /* Full width */
      height: 100vh; /* Full height */
      transform: translateX(-100%); /* Start off-screen */

      overflow: hidden;
      box-sizing: border-box;
      transition: transform 0.5s ease; /* Use transform for smoother animation */
      background-color: var(--color-translucent);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px); // Safari support
    }

    #menu-toggle:checked {
      ~ .menu-list {
        transform: translateX(0); /* Slide into view when checked */
      }

      ~ .menu-burger .line {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg); /* Rotate to form 'X' */
        }

        &:nth-child(2) {
          opacity: 0; /* Hide middle line */
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg); /* Rotate to form 'X' */
        }
      }
    }
  }
}
