@use "../helpers" as *;
@use "../variables" as *;

/**
 * Navigation
 */

.site-navbar {
  &.second-menu {
    .menu-list {
      display: block;
    }

    .menu-item:not(:last-child) {
      margin-bottom: var(--space-unit-xs);
    }
  }

  .menu-list,
  .has-action {
    display: flex;
    align-items: center;
  }

  .menu-list {
    gap: var(--space-unit);
    padding: 0;
    margin: 0;
  }

  .menu-link {
    text-decoration: none;
  }

  .menu-item {
    list-style: none;
    position: relative;

    &.has-action {
      background-color: var(--color-glare);
      border-radius: 2rem;
      border: 1px solid var(--color-border);
      gap: 10px;
      padding: 5px 10px;
    }

    &.has-submenu {
      label {
        cursor: pointer;

        .chevron-up,
        .chevron-down {
          margin-left: 0.25rem;
        }

        .chevron-down {
          display: inline;
        }

        .chevron-up {
          display: none;
        }
      }

      .menu-label-on-mb,
      .menu-sublist,
      input[type="checkbox"] {
        display: none;
      }

      // Show sub-menu when checkbox is checked
      input:checked + label {
        .chevron-up {
          display: inline;
        }

        .chevron-down {
          display: none;
        }

        + .menu-sublist {
          display: block;
        }
      }

      .menu-sublist {
        @extend %menu-sublist;
        list-style: none;
        margin: 0;

        background-color: var(--color-background);
        border: 1px solid var(--color-border);
        padding: 10px 15px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;
        width: var(--width-card);
        height: auto;
        transform: none;

        .menu-subitem {
          margin-bottom: var(--space-unit-xs);
        }

        .menu-sublink {
          text-decoration: none;
        }
      }
    }
  }

  #menu-toggle,
  .menu-burger {
    cursor: pointer;
    display: none;
  }

  .menu-burger {
    position: relative;
    z-index: 3;
    transition: color 0.6s;

    .line {
      background-color: var(--color-text);
      display: block;
      width: 30px;
      height: 3px;
      margin: 5px 0;
      border-radius: 5px;
      transition: 0.3s;
    }
  }
}

@include media-query("md", "max") {
  .site-navbar.main-menu {
    %menu-sublist {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(var(--color-background-rgb), 0.95);

      .menu-label-on-mb {
        display: block;
        margin-bottom: var(--space-unit);
      }
    }

    .menu-burger {
      display: block;
    }

    .menu-item {
      font-size: var(--font-size-xl);

      &.has-action {
        font-size: var(--font-size-lg);
      }
    }

    .menu-link {
      color: var(--color-text);
    }

    .menu-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: var(--space-unit);

      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      width: 100vw; /* Full width */
      height: 100vh; /* Full height */
      transform: translateX(100%); /* Start off-screen */
      overflow: hidden;
      box-sizing: border-box;
      transition: transform 0.5s ease; /* Use transform for smoother animation */
      background-color: rgba(var(--color-background-rgb), 0.5);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px); // Safari support
    }

    #menu-toggle:checked {
      ~ .menu-list {
        transform: translateX(0); /* Slide into view when checked */
      }

      ~ .menu-burger .line {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg); /* Rotate to form 'X' */
        }

        &:nth-child(2) {
          opacity: 0; /* Hide middle line */
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg); /* Rotate to form 'X' */
        }
      }
    }
  }
}
