@use "../helpers" as *;
@use "../variables" as *;

/**
 * Pagination
 */
.pagination {
  padding: clamp(1rem, 3vw, 1.5rem) 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.25rem, 2vw, 1rem);

    list-style: none;
    padding: 0;
    margin: 0;

    &:has(.item-nums) {
      justify-content: center;
    }
  }

  &__item {
    &.item-nums {
      .pagination__link {
        border: 1px solid var(--color-border);
        border-radius: 4px;

        transition: background-color 0.3s ease;

        &:not(:last-child) {
          margin-right: 0.25rem;
        }

        &:hover {
          background-color: var(--color-primary);
          color: var(--color-light);
        }

        &.disabled {
          background-color: var(--color-disabled);
        }
      }
    }

    .pagination__link {
      color: var(--color-primary);
      display: inline-block;
      padding: 0.2rem 0.7rem;
      text-decoration: none;

      svg {
        display: inline-block;
        vertical-align: middle;
      }

      &.current {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        color: var(--color-light);
      }

      &.disabled {
        color: var(--color-muted);
        pointer-events: none;
      }
    }
  }
}
