@use "../helpers" as *;
@use "../variables" as *;

/**
 * Post List
 */

.post-card {
  --min-image: 200px;
  --max-image: 100%;
  --width-image: var(--max-image);
  --height-image: var(--min-image);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);

  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;

  &.post-row {
    --width-image: var(--min-image);
    --height-image: var(--max-image);
    flex-direction: row;

    @include media-query("md", "max") {
      --width-image: var(--max-image);
      --height-image: var(--min-image);
      flex-direction: column;
    }
  }

  .post-card__image {
    height: var(--height-image);
    width: var(--width-image);
    object-fit: cover;
  }

  .post-card__block {
    flex: 1;
    padding: var(--space-unit);
  }

  .post-card__title {
    font-size: 1.5rem;
    color: var(--color-text);

    a {
      &:not(:hover) {
        text-decoration: none;
      }
    }
  }

  .post-card__description {
    font-size: 1rem;
    color: var(--color-text);
  }
}
