@use "../helpers" as *;
@use "../variables" as *;

/**
 * Tabs/Tabbed
 */
.tabs {
  --tabs-radius: 5px;
  --tabs-color-accent: var(--color-accent);
  --tabs-color-secondary: var(--color-secondary);
  --tabs-color-text: var(--color-light);
  --tabs-space: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin-bottom: var(--space-unit);
}

.tab-input {
  display: none;

  &:checked + .tab-label {
    background-color: var(--color-accent);

    + .tab-panel {
      display: block;
    }
  }
}

.tab-label {
  background-color: var(--color-secondary);
  color: var(--color-light);
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;

  flex-basis: auto;
  max-width: 480px;

  &:first-of-type {
    border-top-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
  }

  &:hover {
    background-color: var(--color-primary);
  }
}

.tab-panel {
  background-color: inherit;
  border-radius: 0 5px 5px 5px;
  display: none;
  padding: var(--space-unit);

  flex-basis: 100%;
  max-width: 100%;
  order: 1;

  *:last-child {
    margin-bottom: 0;
  }
}

@include media-query("md", "max") {
  .tab-label {
    flex-basis: 100%;
    max-width: 100%;

    &:first-of-type,
    &:last-of-type {
      border-radius: 0;
    }
  }

  .tab-panel {
    border-radius: 0;
    order: inherit;
  }
}
