/**
 * Task List
 */
.task-list {
  list-style: none;
  margin-left: 0;

  .task-list-item {
    svg,
    i {
      font-size: 1.25rem;
      height: 1.25rem;
      width: 1.25rem;
    }

    > .task-list {
      margin-left: 1.5rem;
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.5rem;
    cursor: not-allowed;

    &.checked,
    &[checked] {
      color: inherit;
      opacity: 0.8;
    }
  }
}
