@use "../helpers" as *;
@use "../variables" as *;

/**
 * Table of Content
 */
.post-toc {
  font-family: var(--font-sans);
  font-size: var(--font-size);
  margin-bottom: var(--space-unit);

  &.hide-on-mb {
    position: sticky;
    top: 1rem;
    z-index: 1;

    .toc-title {
      margin-bottom: var(--space-unit-xs);
    }
  }

  .toc-title {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
  }

  .toc-list {
    list-style-type: decimal;
    margin-bottom: 0;
  }

  .toc-sublist {
    list-style-type: circle;
  }

  .toc-item {
    a {
      text-decoration: none;
    }
  }

  &.only-on-mb {
    // display: none;
    background-color: inherit;
    padding: 0;

    .toc-title {
      width: max-content;
      margin: 0;
    }

    .toc-content {
      background-color: var(--color-glare);
      border-top-right-radius: var(--details-radius);
      padding: var(--details-gutter);
      width: 100%;
    }
  }

  @include media-query("md", "max") {
    &.only-on-mb {
      display: block;
    }

    &.hide-on-mb {
      display: none;
    }
  }
}
