@font-face {
  font-display: swap;
  font-family: Moderat;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Moderat-Extrabold.woff2) format("woff2"),
    url(/fonts/Moderat-Extrabold.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoMono-Regular-subset.woff2) format("woff2"),
    url(/fonts/RobotoMono-Regular-subset.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Rosart;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Rosart-Regular-subset.woff2) format("woff2"),
    url(/fonts/Rosart-Regular-subset.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Rosart;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Rosart-RegularItalic-subset.woff2) format("woff2"),
    url(/fonts/Rosart-RegularItalic-subset.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Family;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/family-bold-subset.woff2) format("woff2"),
    url(/fonts/family-bold-subset.woff) format("woff");
}
:root {
  --color-grey-1: #252323;
  --color-grey-2: #312f2f;
  --color-grey-3: #3e3c3b;
  --color-grey-4: #4a4847;
  --color-grey-5: #575554;
  --color-grey-6: #636260;
  --color-grey-7: #706e6c;
  --color-grey-8: #7c7b78;
  --color-grey-9: #898784;
  --color-grey-10: #959490;
  --color-grey-11: #a2a09c;
  --color-grey-12: #aeada8;
  --color-grey-13: #bbbab5;
  --color-grey-14: #c7c6c1;
  --color-grey-15: #d4d3cd;
  --color-grey-16: #e0dfd9;
  --color-code-1: var(--color-dark);
  --color-code-2: var(--color-grey-1);
  --color-code-3: var(--color-grey-2);
  --color-code-4: var(--color-grey-3);
  --color-code-5: var(--color-grey-4);
  --color-code-6: var(--color-grey-5);
  --color-code-7: var(--color-grey-6);
  --color-dark: #181617;
  --color-dark-glare: #242022;
  --color-dark-shade: #010101;
  --color-dark-rgb: 24, 22, 23;
  --color-dark-glare-rgb: 57, 51, 54;
  --color-mid: var(--color-grey-5);
  --color-mid-glare: var(--color-grey-15);
  --color-mid-shade: var(--color-grey-4);
  --color-light: #edece5;
  --color-light-glare: #f4f3ef;
  --color-light-shade: #b0afa9;
  --color-light-rgb: 237, 236, 229;
  --color-primary: #f6d200;
  --color-primary-glare: #f9e159;
  --color-primary-pale: #eeeac8;
  --color-primary-shade: #b99d00;
  --color-primary-rgb: 246, 210, 0;
  --color-secondary: #f63123;
  --color-secondary-glare: #f85a4f;
  --color-secondary-shade: #b0180d;
}
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --color-dark: color(display-p3 0.094118 0.086275 0.090196/1);
    --color-dark-glare: color(display-p3 0.15 0.14 0.15);
    --color-dark-shade: color(display-p3 0.003922 0.003922 0.003922/1);
    --color-light: color(display-p3 0.929412 0.92549 0.898039/1);
    --color-light-glare: color(display-p3 0.956863 0.952941 0.937255/1);
    --color-light-shade: color(display-p3 0.690196 0.686275 0.662745/1);
    --color-primary: color(display-p3 0.964706 0.823529 0/1);
    --color-primary-glare: color(display-p3 0.976471 0.882353 0.34902/1);
    --color-primary-shade: color(display-p3 0.72549 0.615686 0/1);
    --color-secondary: color(display-p3 0.964706 0.192157 0.137255/1);
    --color-secondary-glare: color(display-p3 0.972549 0.352941 0.309804/1);
    --color-secondary-shade: color(display-p3 0.690196 0.094118 0.05098/1);
  }
}
:root {
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  --leading: 1.4;
  --leading-short: 1.3;
  --leading-slim: 1.2;
  --leading-fine: 1.1;
  --leading-flat: 1;
  --kerning: normal;
  --kerning-tight: -0.04ch;
  --kerning-loose: 0.1ch;
  --heading-kerning: -0.015em;
  --heading-line-height: var(--leading-fine);
  --heading-font-family: var(--font-display);
  --heading-font-weight: var(--font-bold);
  --font-base: "Rosart", "Georgia Pro", Georgia, serif;
  --font-display: "Moderat", serif;
  --font-accent: "Family", "Georgia Pro", Georgia, "URW Bookman",
    "URW Bookman L", serif;
  --font-mono: "Roboto Mono", ui-monospace, monospace;
  --space-2xs: clamp(0.375rem, 0.3414rem + 0.1678vi, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.5122rem + 0.2517vi, 0.75rem);
  --space-s: clamp(0.75rem, 0.6829rem + 0.3356vi, 1rem);
  --space-m: clamp(1.125rem, 1.0243rem + 0.5034vi, 1.5rem);
  --space-l: clamp(1.5rem, 1.3658rem + 0.6711vi, 2rem);
  --space-xl: clamp(1.875rem, 1.7072rem + 0.8389vi, 2.5rem);
  --space-2xl: clamp(3rem, 2.7315rem + 1.3423vi, 4rem);
  --space-3xl: clamp(3.75rem, 3.4144rem + 1.6779vi, 5rem);
  --space-4xl: clamp(5.625rem, 5.1216rem + 2.5168vi, 7.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.2743rem + 0.5034vi, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4451rem + 0.5872vi, 1rem);
  --space-s-m: clamp(0.75rem, 0.5487rem + 1.0067vi, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8901rem + 1.1745vi, 2rem);
  --space-l-xl: clamp(1.5rem, 1.2315rem + 1.3423vi, 2.5rem);
  --space-xl-2xl: clamp(1.875rem, 1.3045rem + 2.8523vi, 4rem);
  --space-2xl-3xl: clamp(3rem, 2.4631rem + 2.6846vi, 5rem);
  --space-3xl-4xl: clamp(3.75rem, 2.7433rem + 5.0336vi, 7.5rem);
  --space-s-l: clamp(0.75rem, 0.4144rem + 1.6779vi, 2rem);
  --space-l-3xl: clamp(1.5rem, 0.5604rem + 4.698vw, 5rem);
  --size-step-8: clamp(2.3125rem, 0.1313rem + 10.906vi, 10.4375rem);
  --size-step-7: clamp(2.0625rem, 0.7706rem + 6.4597vi, 6.875rem);
  --size-step-6: clamp(1.8125rem, 1.0742rem + 3.6913vi, 4.5625rem);
  --size-step-5: clamp(1.6875rem, 1.2177rem + 2.349vi, 3.4375rem);
  --size-step-4: clamp(1.5625rem, 1.2773rem + 1.4262vi, 2.625rem);
  --size-step-3: clamp(1.4375rem, 1.2865rem + 0.755vi, 2rem);
  --size-step-2: clamp(1.3125rem, 1.1951rem + 0.5872vi, 1.75rem);
  --size-step-1: clamp(1.1875rem, 1.1036rem + 0.4195vi, 1.5rem);
  --size-step-0: clamp(1.0625rem, 0.9954rem + 0.3356vi, 1.3125rem);
  --size-step--1: clamp(1rem, 0.9664rem + 0.1678vi, 1.125rem);
  --size-step--2: clamp(0.875rem, 0.8414rem + 0.1678vi, 1rem);
  --size-step--3: clamp(0.8125rem, 0.7957rem + 0.0839vi, 0.875rem);
  --size-step--4: clamp(0.625rem, 0.7043rem + -0.0839vi, 0.6875rem);
  --radius: 0.5em;
  --radius-l: 2em;
  --radius-m: 1em;
  --radius-s: 0.25em;
  --measure: 65ch;
  --measure-xs: 20ch;
  --measure-s: 35ch;
  --measure-m: 45ch;
  --measure-l: 75ch;
  --text-size-base: var(--size-step-0);
  --text-size-lede: var(--size-step-1);
  --text-size-meta: var(--size-step--1);
  --text-size-heading-1: var(--size-step-5);
  --text-size-heading-2: var(--size-step-4);
  --text-size-heading-3: var(--size-step-3);
  --text-size-heading-4: var(--size-step-2);
  --text-size-prose: var(--text-size-base);
  --gutter: var(--space-m);
  --gutter-column: var(--gutter);
  --gutter-row: var(--gutter);
  --space-gutter: var(--space-m);
  --space-gutter-s: var(--space-s);
  --space-gutter-l: var(--space-l);
  --space-regions: var(--space-xl);
  --region-space: var(--space-regions);
  --wrapper-max-width: 1680px;
  --flow-space: var(--space-m);
  --color-global-bg: var(--color-light);
  --color-global-text: var(--color-dark);
  --color-surface-bg: var(--color-mid);
  --color-surface-bg-interact: var(--color-mid-shade);
  --color-surface-text: var(--color-dark);
  --color-surface-text-interact: var(--color-dark);
  --color-selection-bg: var(--color-dark);
  --color-selection-text: var(--color-light);
  --color-disabled: var(--color-mid);
  --color-accent: currentColor;
  --color-error: #c8484f;
  --color-warning: #f5a03c;
  --color-success: #92a056;
  --stroke: 1px solid var(--stroke-color, currentColor);
  --stroke-mid: 1px solid var(--stroke-mid-color, var(--color-mid));
  --stroke-weight-light: 1px;
  --stroke-weight-medium: 3px;
  --stroke-weight-heavy: 6px;
  --text-decoration-thickness: 2px;
  --text-decoration-color: var(--color-secondary);
  --focus-ring-width: 2px;
  --focus-ring-color: currentColor;
  --focus-ring-offset: 0.25lh;
  --focus-ring-style: solid;
  --small-screen: 1;
}
@media (min-width: 600px) {
  :root {
    --gutter: var(--space-xl);
    --small-screen: 0;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
}
ol[role="list"],
ul[role="list"] {
  list-style: none;
}
body {
  line-height: 1.5;
}
button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.1;
}
a:not([class]) {
  color: currentColor;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
body {
  background: var(--color-global-bg);
  color: var(--color-global-text);
  font-family: var(--font-base);
  font-size: var(--text-size-base);
  font-size-adjust: from-font;
  line-height: var(--leading);
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family, var(--font-display));
  font-feature-settings: "cpsp" on;
  font-weight: var(--heading-font-weight, var(--font-bold));
  letter-spacing: var(--heading-kerning, var(--kerning));
  line-height: var(--heading-line-height, var(--leading-fine));
  overflow-wrap: anywhere;
  text-wrap: balance;
}
:is(h1, h2, h3, h4) em {
  font-style: normal;
}
@media (min-width: 50em) {
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: unset;
  }
}
h1 {
  font-size: var(--text-size-heading-1);
  max-width: var(--measure-xs);
}
h2 {
  font-size: var(--text-size-heading-2);
  max-width: var(--measure-s);
}
h3,
h4,
h5,
h6 {
  font-size: var(--text-size-heading-3);
}
h4,
h5,
h6 {
  max-width: var(--measure-m);
}
:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block: 0;
}
strong {
  font-family: var(--font-accent);
  font-weight: 700;
}
small {
  font-size: 0.8em;
}
del {
  color: var(--del-color, var(--color-mid-shade));
}
ins {
  background: var(--color-primary);
  border-radius: var(--radius-xs);
  padding-inline: 0.3em;
  text-decoration: none;
}
code,
kbd,
samp {
  background: 0 0;
  border-radius: 0;
  color: var(--code-color, var(--color-mid-shade));
  font-family: var(--font-mono);
  font-size: 0.95em;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
pre:has(code) {
  background: var(--color-primary);
  border-radius: var(--radius-s);
  max-width: 100%;
  overflow-x: auto;
  padding: var(--space-m);
  width: max-content;
  -webkit-overflow-scrolling: touch;
}
pre code {
  background: 0 0;
  border: none;
  color: var(--color-dark);
  padding: 0;
}
var {
  color: var(--color-primary);
  font-style: normal;
  font-weight: var(--font-medium);
}
q {
  font-style: italic;
}
sub,
sup {
  display: inline-block;
  font-size: 0.75em;
  vertical-align: baseline;
}
sub {
  transform: translateY(0.65ex);
}
sup {
  transform: translateY(-0.7ex);
}
blockquote {
  font-size: var(--blockquote-font-size, var(--size-step-2));
  font-style: italic;
  margin: 0;
  padding: 0;
  padding: var(--gutter);
  position: relative;
}
blockquote:before {
  content: "“";
  font-family: var(--heading-font-family);
  font-size: var(--blockquote-decor-font-size, var(--size-step-7));
  left: calc((var(--gutter) / 2) * -1);
  line-height: 0.8;
  opacity: 0.2;
  position: absolute;
  top: 0;
}
blockquote > * + * {
  margin-block-start: var(--blockquote-space, var(--space-s));
}
:is(ol, ul) {
  margin-block-end: 0;
}
ul {
  list-style-type: disc;
  padding-inline-start: var(--global-ul-padding, 1.75ch);
}
ol {
  padding-inline-start: var(--global-ol-padding, 1.75ch);
}
:is(ol, ul, dl):where(:not([class])) > li + li {
  margin-block-start: var(--global-list-flow, 0.5em);
}
:is(ol, ul, dl):where(:not([class])) :is(ol, ul, dl) {
  margin-block-start: var(--global-list-flow, 0.5em);
}
ul ::marker {
  line-height: 1;
}
ol ::marker {
  font-size: 1em;
  font-weight: var(--font-bold);
}
[role="list"][class],
[role="tablist"] {
  list-style: none;
  margin-block: 0;
  padding: 0;
}
dt {
  color: var(--dt-color, inherit);
  font-family: var(--dt-font-family, var(--font-base));
  font-feature-settings: var(--dt-caps-spacing, "cpsp" on);
  font-size: var(--dt-font-size, inherit);
  font-weight: var(--dt-font-weight, var(--font-bold));
  letter-spacing: var(--dt-kerning, var(--kerning-loose));
  text-transform: var(--dt-text-transform, uppercase);
}
dd {
  font-size: var(--text-size-lede);
  margin-inline: 0;
}
dt + dd {
  margin-block-start: var(--space-2xs);
}
dd + dt {
  margin-block-start: var(--space-m);
}
dd + dd {
  margin-block-start: var(--space-3xs);
}
iframe[src*="vimeo"],
iframe[src*="youtube"],
video {
  aspect-ratio: 16/9;
  display: block;
  height: auto;
  width: 100%;
}
img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}
img[src*=".svg"] {
  width: 100%;
}
picture {
  width: max-content;
}
figure {
  margin: var(--figure-margin, 0);
}
figcaption {
  font-size: var(--text-size-meta);
  padding-block-start: 0.5em;
}
table {
  border: var(--stroke);
  border-collapse: collapse;
  width: 100%;
}
th {
  background: rgb(0 0 0/2%);
  font-weight: var(--font-bold);
  line-height: var(--leading-fine);
  text-align: left;
}
thead th {
  padding-block: var(--space-s);
}
td,
th {
  padding: var(--space-xs) var(--space-s);
}
th:not(:only-of-type) {
  border-block-end: var(--stroke);
}
th:only-of-type {
  border-inline-end: var(--stroke);
}
:is(th, td) ~ :is(th, td) {
  border-inline-start: var(--stroke);
}
tr + tr :is(th, td) {
  border-block-start: var(--stroke);
}
caption {
  caption-side: bottom;
  margin-block-start: var(--space-2xs, 0.5lh);
}
a:not([class]) {
  color: var(--color-accent);
  text-decoration-skip-ink: auto;
}
a:not([class]):hover,
abbr {
  text-underline-offset: 0.2ex;
}
abbr {
  color: var(--accent);
  cursor: help;
}
:focus {
  outline-color: var(--focus-ring-color);
  outline-offset: var(--focus-ring-offset);
  outline-style: var(--focus-ring-style);
  outline-width: var(--focus-ring-width);
}
@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }
  :focus-visible {
    outline-color: var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    outline-style: var(--focus-ring-style);
    outline-width: var(--focus-ring-width);
  }
}
@supports (-moz-appearance: none) {
  :root {
    --focus-ring-offset: 0.2ex;
  }
}
:is([tabindex="-1"]):focus,
:is([tabindex="-1"]):focus-visible {
  outline: none;
}
::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}
:target {
  scroll-margin-block: 5ex;
}
hr {
  border-block-start: 1px solid;
  color: var(--color-dark);
  height: 1px;
  margin: var(--hr-space, var(--space-3xl)) 0;
  padding: 0;
}
svg:not([height]) {
  height: 1lh;
  width: auto;
}
svg {
  flex-shrink: 0;
}
button,
input,
select,
textarea {
  font: inherit;
}
form {
  --focus-color: var(--accent);
}
form > * {
  text-align: left;
}
form > * + * {
  margin-top: var(--flow-space, 1rem);
}
input,
select,
textarea {
  accent-color: var(--accent);
}
input:not([type="checkbox"], [type="radio"], [type="color"]),
select,
textarea {
  --focus-ring-offset: -0.6ex;
  --color-selection-text: var(--input-background, var(--color-dark));
  background: var(--input-background, var(--color-light));
  border: var(--input-stroke, var(--stroke));
  border-radius: var(--input-radius, var(--radius-s));
  font-family: var(--input-font-family, var(--font-base));
  font-size: var(--input-font-size, var(--text-size-base));
  font-weight: var(--input-weight, var(--font-normal));
  line-height: var(--input-leading, var(--leading));
  padding: var(--input-padding, 0.5em 0.8em);
  width: var(--input-width, 100%);
}
label {
  font-family: var(--label-font-family, var(--font-accent));
  font-size: var(--label-font-size, var(--size-step-4));
  font-weight: var(--label-weight, var(--font-normal));
  line-height: var(--label-leading, var(--leading-fine));
}
label:after {
  content: "\A";
  white-space: pre;
}
label:has(input) {
  align-items: var(--label-align-items, flex-start);
  display: var(--label-display, flex);
  flex-direction: var(--label-flex-direction, column);
  font-weight: revert;
  gap: var(--input-flex-gap, var(--space-s));
}
label:has(input) + label:has(input) {
  margin-block-start: var(--input-check-sibling-space, var(--space-xs));
}
label:has(input) input {
  transform: translateY(0.25ex);
}
input:disabled {
  background: var(--color-disabled);
}
input:disabled,
label input:disabled + * {
  cursor: not-allowed;
}
textarea:not([rows]) {
  min-height: 10em;
}
fieldset {
  border: var(--stroke);
  padding: var(--space-s);
}
legend {
  font-weight: var(--font-medium);
  padding-inline: var(--space-xs);
}
summary {
  cursor: default;
  font-weight: var(--font-bold);
}
details[open] summary {
  margin-block-end: var(--space-s);
}
mark {
  background: var(--mark-bg, var(--color-primary));
  color: inherit;
}
.reel:focus-visible {
  outline: 0;
}
[hidden] {
  display: none !important;
}
.cluster {
  align-items: var(--cluster-vertical-alignment, center);
  column-gap: var(--cluster-column-gap, var(--gutter, var(--space-s-m)));
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: var(--cluster-wrap, wrap);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  row-gap: var(--cluster-row-gap, var(--gutter, var(--space-s-m)));
}
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.grid {
  display: grid;
  gap: var(--gutter, var(--space-s-l));
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
}
.grid[data-layout="halves"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 33rem);
}
.grid[data-layout="thirds"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}
.reel {
  --reel-calculated-space: var(--reel-space, var(--gutter, 2rem));
  display: flex;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 0 var(--scroll-bar-offset);
  -webkit-overflow-scrolling: touch;
}
.reel > * {
  flex-basis: var(
    --reel-item-width,
    calc(33.333% - var(--reel-calculated-space))
  );
  flex-shrink: 0;
}
.reel > * + * {
  margin-inline-start: var(--reel-calculated-space);
}
.reel::-webkit-scrollbar {
  block-size: var(--scroll-bar-size);
}
.reel::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track-color);
}
.reel::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb-color);
}
.reel[data-scroll="snap"] {
  scroll-snap-type: x mandatory;
}
.reel[data-scroll="snap"] > * {
  scroll-snap-align: start;
}
.repel {
  align-items: var(--repel-vertical-alignment, center);
  column-gap: var(--repel-column-gap, var(--gutter, var(--space-s-m)));
  display: flex;
  flex-direction: var(--repel-direction, row);
  flex-wrap: var(--repel-wrap, wrap);
  justify-content: var(--repel-horizontal-alignment, space-between);
  row-gap: var(--repel-row-gap, var(--gutter, var(--space-s-m)));
}
.repel[data-nowrap] {
  flex-wrap: nowrap;
}
.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}
.sidebar:not([data-direction]) > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}
.sidebar:not([data-direction]) > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}
.sidebar[data-reversed] {
  flex-direction: row-reverse;
}
.sidebar[data-direction="rtl"] > :last-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}
.sidebar[data-direction="rtl"] > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}
.switcher {
  align-items: var(--switcher-vertical-alignment, flex-start);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}
.switcher > * {
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
  flex-grow: 1;
}
.switcher > :nth-child(n + 3) {
  flex-basis: 100%;
}
.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--gutter-wrapper-inline, var(--gutter));
  position: relative;
}
.wrapper[data-wrapper-type="inner"] {
  min-width: 100%;
  padding-block: var(--gutter-wrapper-inner-block, var(--gutter));
  padding-inline: var(--gutter-wrapper-inner-inline, var(--gutter));
}
.bg-dark {
  background: var(--color-dark);
}
.bg-dark-shade {
  background: var(--color-dark-shade);
}
.bg-dark-glare {
  background: var(--color-dark-glare);
}
.bg-light {
  background: var(--color-light);
}
.bg-light-shade {
  background: var(--color-light-shade);
}
.bg-mid {
  background: var(--color-mid);
}
.bg-mid-glare {
  background: var(--color-mid-glare);
}
.bg-mid-shade {
  background: var(--color-mid-shade);
}
.bg-mid-deep {
  background: var(--color-mid-deep);
}
.bg-primary {
  background: var(--color-primary);
}
.bg-primary-glare {
  background: var(--color-primary-glare);
}
.bg-primary-shade {
  background: var(--color-primary-shade);
}
.bg-secondary {
  background: var(--color-secondary);
}
.bg-secondary-glare {
  background: var(--color-secondary-glare);
}
.bg-secondary-shade {
  background: var(--color-secondary-shade);
}
.bg-tertiary {
  background: var(--color-tertiary);
}
.bg-tertiary-glare {
  background: var(--color-tertiary-glare);
}
.bg-tertiary-shade {
  background: var(--color-tertiary-shade);
}
.bg-quaternary {
  background: var(--color-quaternary);
}
.bg-quaternary-glare {
  background: var(--color-quaternary-glare);
}
.bg-quaternary-shade {
  background: var(--color-quaternary-shade);
}
.bg-quinary {
  background: var(--color-quinary);
}
.bg-quinary-glare {
  background: var(--color-quinary-glare);
}
.bg-quinary-shade {
  background: var(--color-quinary-shade);
}
.bg-senary {
  background: var(--color-senary);
}
.bg-senary-glare {
  background: var(--color-senary-glare);
}
.bg-senary-shade {
  background: var(--color-senary-shade);
}
.flow-space-3xs {
  --flow-space: var(--space-3xs);
}
.flow-space-2xs {
  --flow-space: var(--space-2xs);
}
.flow-space-xs {
  --flow-space: var(--space-xs);
}
.flow-space-s {
  --flow-space: var(--space-s);
}
.flow-space-m {
  --flow-space: var(--space-m);
}
.flow-space-l {
  --flow-space: var(--space-l);
}
.flow-space-xl {
  --flow-space: var(--space-xl);
}
.flow-space-2xl {
  --flow-space: var(--space-2xl);
}
.flow-space-3xl {
  --flow-space: var(--space-3xl);
}
.flow-space-3xs-2xs {
  --flow-space: var(--space-3xs-2xs);
}
.flow-space-2xs-xs {
  --flow-space: var(--space-2xs-xs);
}
.flow-space-xs-s {
  --flow-space: var(--space-xs-s);
}
.flow-space-s-m {
  --flow-space: var(--space-s-m);
}
.flow-space-m-l {
  --flow-space: var(--space-m-l);
}
.flow-space-l-xl {
  --flow-space: var(--space-l-xl);
}
.flow-space-xl-2xl {
  --flow-space: var(--space-xl-2xl);
}
.flow-space-2xl-3xl {
  --flow-space: var(--space-2xl-3xl);
}
.region {
  padding-block-end: var(--region-space);
  padding-block-start: var(--region-space);
}
.region[data-flush="all"] {
  padding-block-end: 0;
  padding-block-start: 0;
}
.region[data-flush="top"] {
  padding-block-start: 0;
}
.region[data-flush="bottom"] {
  padding-block-end: 0;
}
.text-dark {
  color: var(--color-dark);
}
.text-dark-shade {
  color: var(--color-dark-shade);
}
.text-dark-glare {
  color: var(--color-dark-glare);
}
.text-light {
  color: var(--color-light);
}
.text-light-shade {
  color: var(--color-light-shade);
}
.text-mid {
  color: var(--color-mid);
}
.text-mid-glare {
  color: var(--color-mid-glare);
}
.text-mid-shade {
  color: var(--color-mid-shade);
}
.text-mid-deep {
  color: var(--color-mid-deep);
}
.text-primary {
  color: var(--color-primary);
}
.text-primary-glare {
  color: var(--color-primary-glare);
}
.text-primary-shade {
  color: var(--color-primary-shade);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-secondary-glare {
  color: var(--color-secondary-glare);
}
.text-secondary-shade {
  color: var(--color-secondary-shade);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-tertiary-glare {
  color: var(--color-tertiary-glare);
}
.text-tertiary-shade {
  color: var(--color-tertiary-shade);
}
.text-quaternary {
  color: var(--color-quaternary);
}
.text-quaternary-glare {
  color: var(--color-quaternary-glare);
}
.text-quaternary-shade {
  color: var(--color-quaternary-shade);
}
.text-quinary {
  color: var(--color-quinary);
}
.text-quinary-glare {
  color: var(--color-quinary-glare);
}
.text-quinary-shade {
  color: var(--color-quinary-shade);
}
.text-senary {
  color: var(--color-senary);
}
.text-senary-glare {
  color: var(--color-senary-glare);
}
.text-senary-shade {
  color: var(--color-senary-shade);
}
.text-step--2 {
  font-size: var(--size-step--2);
}
.text-step--1 {
  font-size: var(--size-step--1);
}
.text-step-0 {
  font-size: var(--size-step-0);
}
.text-step-1 {
  font-size: var(--size-step-1);
}
.text-step-2 {
  font-size: var(--size-step-2);
}
.text-step-3 {
  font-size: var(--size-step-3);
}
.text-step-4 {
  font-size: var(--size-step-4);
}
.text-step-5 {
  font-size: var(--size-step-5);
}
.text-step-6 {
  font-size: var(--size-step-6);
}
.text-step-7 {
  font-size: var(--size-step-7);
}
.text-step-8 {
  font-size: var(--size-step-8);
}
.text-step-9 {
  font-size: var(--size-step-9);
}
.text-step-10 {
  font-size: var(--size-step-10);
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
