:root {
  --scroll-bar-track-color: var(--color-light-shade);
  --scroll-bar-thumb-color: var(--color-dark);
  --stroke-color: var(--color-dark);
  --scroll-bar-offset: var(--space-l-xl);
  --cluster-wrap: wrap;
  --cluster-column-gap: var(--gutter, var(--space-s-m));
  --cluster-row-gap: var(--gutter, var(--space-s-m));
  --cluster-horizontal-alignment: flex-start;
  --cluster-vertical-alignment: center;
  --cluster-direction: row;
  --gutter-wrapper-inline: var(--gutter);
  --gutter-wrapper-inner-inline: var(--gutter);
  --gutter-wrapper-inner-block: var(--gutter);
  --input-padding: var(--space-2xs);
  --input-radius: 0;
  --input-stroke: var(--stroke);
  --input-width: 100%;
  --input-background: var(--color-light);
  --input-font-size: var(--size-step--1);
  --input-leading: var(--leading);
  --input-weight: var(--font-normal);
  --input-font-family: var(--font-base);
  --label-leading: var(--leading);
  --label-font-size: var(--size-step-4);
  --label-weight: var(--font-normal);
  --label-font-family: var(--font-accent);
  --label-display: flex;
  --label-flex-direction: column;
  --label-align-items: flex-start;
  --input-flex-gap: var(--space-s);
  --fieldset-border: none;
  --fieldset-padding: 0;
  --button-display: inline-flex;
  --button-align-items: center;
  --button-justify-content: center;
  --button-gap: var(--space-2xs);
  --button-padding: var(--space-xs, 0.8em) var(--space-m, 2em);
  --button-leading: var(--leading);
  --button-line-height: var(--leading-slim);
  --button-border-width: var(--stroke-weight-light);
  --button-border-style: solid;
  --button-radius: none;
  --button-box-shadow: none;
  --button-text-transform: uppercase;
  --button-font-weight: var(--font-bold);
  --button-font-size: var(--size-step--3);
  --button-font-family: var(--font-display);
  --button-kerning: var(--kerning);
  --button-svg-height: 1.75ex;
  --button-svg-color: var(--color-secondary);
  --button-hover-svg-color: inherit;
  --button-primary-bg: var(--color-primary);
  --button-primary-text: var(--color-dark);
  --button-primary-border-color: var(--color-primary);
  --button-primary-bg-hover: var(--color-primary-glare);
  --button-primary-text-hover: var(--color-dark);
  --button-primary-border-color-hover: var(--color-primary);
  --button-dark-bg: var(--color-dark);
  --button-dark-text: var(--color-light);
  --button-dark-border-color: var(--color-dark);
  --button-dark-bg-hover: transparent;
  --button-dark-text-hover: var(--color-dark);
  --button-dark-border-color-hover: var(--color-dark);
  --button-light-bg: var(--color-light);
  --button-light-text: var(--color-dark);
  --button-light-border-color: var(--color-light);
  --button-light-bg-hover: transparent;
  --button-light-text-hover: var(--color-light);
  --button-light-border-color-hover: var(--color-light);
  --button-ghost-dark-bg: transparent;
  --button-ghost-dark-text: var(--color-dark);
  --button-ghost-dark-border-color: var(--color-dark);
  --button-ghost-dark-bg-hover: var(--color-dark);
  --button-ghost-dark-text-hover: var(--color-light);
  --button-ghost-dark-border-color-hover: var(--color-dark);
  --button-ghost-light-bg: transparent;
  --button-ghost-light-text: var(--color-light);
  --button-ghost-light-border-color: var(--color-light);
  --button-ghost-light-bg-hover: var(--color-light);
  --button-ghost-light-text-hover: var(--color-dark);
  --button-ghost-light-border-color-hover: var(--color-light);
  --button-ghost-primary-bg: transparent;
  --button-ghost-primary-text: var(--color-primary);
  --button-ghost-primary-border-color: var(--color-primary);
  --button-ghost-primary-bg-hover: var(--color-primary-glare);
  --button-ghost-primary-text-hover: var(--color-dark);
  --button-ghost-primary-border-color-hover: var(--color-primary);
  --mark-bg: linear-gradient(
    0deg,
    transparent 20%,
    rgba(var(--color-primary-rgb), 1) 20%,
    rgba(var(--color-primary-rgb), 1) 84%,
    transparent 84%
  );
  --mark-bg-light: linear-gradient(
    0deg,
    transparent 20%,
    rgba(var(--color-light-rgb), 1) 20%,
    rgba(var(--color-light-rgb), 1) 84%,
    transparent 84%
  );
  --code-stroke: 1px solid var(--color-dark);
  --code-color: var(--color-secondary-shade);
  --code-font-size: var(--size-step--1);
  --ribbon-border-block-start: var(--space-s-m) solid var(--color-primary);
  --badge-display: inline-flex;
  --badge-border: var(--stroke);
  --badge-padding: calc(var(--space-2xs) * 0.5) var(--space-2xs);
  --badge-font-size: var(--size-step--3);
  --badge-font-family: var(--font-display);
  --badge-color: var(--text-dark);
  --badge-default-decoration: none;
  --badge-text-transform: uppercase;
  --badge-hover-bg: var(--color-dark);
  --badge-hover-color: var(--color-light);
  --badge-hover-border-color: var(--color-dark);
  --footer-navigation-font-family: var(--font-accent);
  --footer-navigation-font-size: var(--text-size-base);
  --footer-navigation-cluster-direction: row;
  --footer-navigation-cluster-vertical-alignment: center;
  --footer-navigation-cluster-row-gap: var(--gutter);
  --footer-navigation-cluster-column-gap: var(--gutter);
  --banner-color: var(--color-primary);
  --banner-bg: var(--color-dark);
  --banner-gutter-wrapper-inner-block: var(--space-xs-s);
  --banner-cluster-column-gap: var(--space-s);
  --banner-cluster-row-gap: var(--space-s);
  --fyi-unit-gutter-wrapper-inner-block: var(--space-m);
  --fyi-unit-bg: var(--color-light-glare);
  --fyi-unit-font-family: var(--font-display);
  --fyi-unit-font-size: var(--size-step-3);
  --fyi-unit-line-height: var(--leading-slim);
  --fyi-unit-letter-spacing: var(--heading-kerning);
  --icon-link-direction: row;
  --icon-link-vertical-alignment: center;
  --icon-link-row-gap: var(--space-xs-s);
  --icon-link-column-gap: var(--space-xs-s);
  --icon-link-font-size: var(--size-step--1);
  --icon-link-color: inherit;
  --icon-link-text-decoration: underline;
  --icon-link-text-decoration-thickness: var(--text-decoration-thickness);
  --icon-link-text-decoration-color: var(--text-decoration-color);
  --icon-link-hover-color: inherit;
  --icon-link-hover-text-decoration: underline;
  --icon-link-svg-height: 1.25ex;
  --icon-link-hidden-label-display: flex;
  --icon-link-hidden-label-vertical-alignment: center;
  --icon-link-hidden-label-horizontal-alignment: center;
  --icon-link-hidden-label-min-tap-size: 44px;
  --icon-link-hidden-label-bg: var(--color-light);
  --icon-link-hidden-label-color: var(--color-dark);
  --icon-link-hidden-label-bg-hover: var(--color-dark);
  --icon-link-hidden-label-color-hover: var(--color-light);
  --card-cluster-direction: column;
  --card-cluster-vertical-alignment: flex-start;
  --card-row-gap: var(--space-l-xl);
  --card-column-gap: var(--space-l-xl);
  --card-flow-space: var(--space-xs-s);
  --card-heading-font-size: var(--size-step-3);
  --card-heading-font-family: var(--font-accent);
  --card-heading-link-color: inherit;
  --card-heading-link-font-size: var(--size-step-3);
  --card-heading-link-text-decoration: none;
  --card-heading-link-text-decoration-thickness: var(
    --text-decoration-thickness
  );
  --card-heading-link-text-decoration-hover: underline;
  --card-heading-link-text-decoration-color: var(--text-decoration-color);
  --card-summary-font-size: var(--text-size-base);
  --card-meta-cluster-direction: row;
  --card-meta-cluster-vertical-alignment: center;
  --card-meta-row-gap: var(--space-xs-s);
  --card-meta-column-gap: var(--space-xs-s);
  --card-meta-font-size: var(--size-step--1);
  --card-meta-link-font-family: var(--font-accent);
  --card-meta-link-color: inherit;
  --card-meta-link-text-decoration: none;
  --card-meta-link-text-decoration-thickness: var(--text-decoration-thickness);
  --card-meta-link-text-decoration-hover: underline;
  --card-meta-link-text-decoration-color: var(--text-decoration-color);
  --var-pagination-cluster-column-gap: var(--space-m);
  --var-pagination-cluster-row-gap: var(--space-m);
  --var-pagination-list-cluster-column-gap: var(--space-2xs);
  --var-pagination-list-cluster-row-gap: var(--space-2xs);
  --pagination-item-tap-size: 44px;
  --pagination-item-border: var(--stroke);
  --pagination-item-padding: var(--space-2xs);
  --pagination-item-font-family: var(--font-accent);
  --pagination-item-font-size: var(--text-size-base);
  --pagination-item-bg-hover: var(--color-dark);
  --pagination-item-text-hover: var(--color-light);
  --post-content-flow-space: var(--space-l);
  --post-content-padding-inline-md: var(--space-3xl);
  --post-content-padding-block-md: var(--space-3xl);
  --post-meta-flow-space: var(--space-xs-s);
  --post-meta-padding-block-md: var(--space-3xl);
  --post-meta-cluster-vertical-alignment: flex-start;
  --post-meta-cluster-direction: column;
  --post-meta-cluster-column-gap: var(--space-xs-s);
  --post-meta-cluster-row-gap: var(--space-xs-s);
  --post-heading-max-width: 40ch;
  --post-heading-font-size: var(--size-step-4);
  --post-heading-font-family: var(--font-accent);
  --post-heading-text-decoration: none;
  --post-heading-text-decoration-hover: underline;
  --post-heading-text-decoration-color: var(--color-secondary);
  --post-summary-max-width: 60ch;
  --post-author-group-cluster-column-gap: var(--space-2xs);
  --post-author-group-cluster-row-gap: var(--space-2xs);
  --post-author-link-font-family: var(--font-accent);
  --post-author-link-text-decoration: none;
  --post-author-link-text-decoration-hover: underline;
  --post-author-link-text-decoration-color: var(--color-secondary);
  --post-newsletter-cluster-wrap: wrap;
  --post-newsletter-cluster-column-gap: var(--space-l);
  --post-newsletter-cluster-row-gap: var(--space-l);
  --post-newsletter-cluster-horizontal-alignment: flex-start;
  --post-newsletter-cluster-vertical-alignment: baseline;
  --post-newsletter-cluster-direction: row;
  --post-newsletter-heading-font-size: var(--size-step-5);
  --author-summary-font-size: var(--size-step-6);
  --author-summary-text-decoration-color: var(--color-secondary);
  --author-summary-text-decoration-color-hover: var(--color-dark);
  --author-summary-profile-cluster-wrap: wrap;
  --author-summary-profile-cluster-column-gap: var(--space-m);
  --author-summary-profile-cluster-row-gap: var(--space-m);
  --author-summary-profile-cluster-horizontal-alignment: flex-start;
  --author-summary-profile-cluster-vertical-alignment: center;
  --author-summary-profile-cluster-direction: row;
  --author-summary-profile-flow-space: var(--space-s-m);
  --author-summary-profile-figcaption-font-size: var(--size-step-0);
  --author-summary-profile-figcaption-link-font-family: var(--font-accent);
  --author-summary-avatar-width: 120px;
  --author-summary-topics-cluster-wrap: wrap;
  --author-summary-topics-cluster-column-gap: var(--space-xs-s);
  --author-summary-topics-cluster-row-gap: var(--space-xs-s);
  --author-summary-topics-cluster-horizontal-alignment: flex-start;
  --author-summary-topics-cluster-vertical-alignment: center;
  --author-summary-topics-cluster-direction: row;
  --author-summary-topics-heading-font-family: var(--font-base);
  --author-summary-topics-heading-font-size: var(--size-step-0);
  --author-summary-topics-list-cluster-column-gap: var(--space-2xs);
  --author-summary-topics-list-cluster-row-gap: var(--space-2xs);
  --author-summary-links-heading-font-family: var(--font-accent);
  --author-summary-links-heading-font-size: var(--size-step-0);
  --author-summary-links-list-cluster-column-gap: var(--space-s);
  --author-summary-links-list-cluster-row-gap: var(--space-s);
  --author-summary-bio-max-width: 70ch;
  --author-summary-elsewhere-gutter-wrapper-inner-block: var(--space-s);
  --author-summary-post-avatar-width: 80px;
  --author-summary-post-profile-flow-space: var(--space-l);
  --topics-list-gutter-wrapper-inner-block: var(--space-s);
  --topics-list-reel-item-width: max-content;
  --topics-list-reel-space: 0;
  --topics-list-scroll-bar-offset: var(--space-xs);
  --topics-list-scroll-bar-size: 8px;
  --topics-list-scroll-bar-track-color: var(--color-dark-glare);
  --topics-list-scroll-bar-thumb-color: var(--color-grey-7);
  --topics-list-bg: var(--color-dark);
  --topics-list-text: var(--color-light);
  --topics-list-heading-font-size: var(--size-step-1);
  --topics-list-ghost-light-bg: transparent;
  --topics-list-button-ghost-light-text: var(--color-light);
  --topics-list-button-ghost-light-border-color: var(--color-light);
  --topics-list-button-ghost-light-bg-hover: var(--color-light);
  --topics-list-button-ghost-light-text-hover: var(--color-dark);
  --topics-list-button-ghost-light-border-color-hover: var(--color-light);
  --topics-list-container-cluster-wrap: nowrap;
  --topics-list-container-cluster-vertical-alignment: baseline;
  --topics-list-container-cluster-column-gap: var(--space-s-m);
  --topics-list-container-cluster-row-gap: var(--space-s-m);
  --topics-list-reel-cluster-wrap: nowrap;
  --topics-list-reel-cluster-column-gap: var(--space-m);
  --topics-list-reel-cluster-row-gap: var(--space-m);
  --topics-list-reel-cluster-horizontal-alignment: flex-start;
  --topics-list-reel-cluster-vertical-alignment: center;
  --topics-list-reel-cluster-direction: row;
  --topics-list-items: var(--space-2xs);
  --code-block-font-family: var(--font-mono);
  --code-block-scrollbar-color: var(--color-dark) var(--color-light-glare);
  --code-block-header-cluster-horizontal-alignment: space-between;
  --code-block-header-padding-inline-start: var(--gutter);
  --code-block-header-font-size: var(--size-step--3);
  --code-block-alert-bg: var(--color-dark);
  --code-block-alert-text: var(--color-light);
  --code-block-alert-text-transform: uppercase;
  --code-block-header-button-font-weight: var(--font-normal);
  --code-block-header-button-font-family: var(--font-mono);
  --code-block-header-button-bg: var(--color-light);
  --code-block-header-button-bg-hover: var(--color-dark);
  --code-block-header-button-text: var(--color-dark);
  --code-block-header-button-text-hover: var(--color-light);
  --code-block-header-dl-text-transform: uppercase;
  --code-block-header-dl-font-size: var(--size-step--3);
  --code-block-pre-padding-inline: var(--gutter);
  --code-block-code-bg: var(--color-light-glare);
  --code-block-selection-bg: var(--color-primary-glare);
  --code-block-selection-text: var(--color-dark);
  --preview-frame-iframe-height: 30rem;
  --preview-frame-iframe-height-md: 60rem;
  --preview-frame-bg: var(--color-light);
  --preview-frame-text: var(--color-dark);
  --preview-frame-caption-padding-inline: var(--gutter);
  --preview-frame-caption-padding-block: var(--space-m);
  --preview-frame-caption-font-family: var(--font-mono);
  --preview-frame-caption-font-size: var(--size-step--3);
  --preview-frame-caption-leading: var(--leading);
  --preview-frame-header-button-font-weight: var(--font-normal);
  --preview-frame-header-button-font-family: var(--font-mono);
  --preview-frame-header-button-bg: var(--color-light);
  --preview-frame-header-button-bg-hover: var(--color-dark);
  --preview-frame-header-button-text: var(--color-dark);
  --preview-frame-header-button-text-hover: var(--color-light);
  --preview-frame-header-padding-inline: var(--gutter);
  --preview-frame-header-padding-block: var(--space-s);
  --preview-frame-heading-font-size: var(--size-step--3);
  --preview-frame-heading-font-family: var(--font-mono);
  --preview-frame-heading-font-weight: var(--font-normal);
  --preview-frame-heading-leading: var(--leading-flat);
  --preview-frame-heading-text-transform: uppercase;
  --preview-frame-heading-kerning: var(--kerning-loose);
  --preview-frame-controls-cluster-wrap: nowrap;
  --preview-frame-controls-cluster-column-gap: var(--space-m);
  --preview-frame-controls-padding-inline: var(--gutter);
  --preview-frame-controls-padding-block: var(--space-m);
  --preview-frame-controls-max-width: 27rem;
  --preview-frame-label-font-size: var(--size-step--3);
  --preview-frame-label-font-family: var(--font-mono);
  --preview-frame-label-text-transform: uppercase;
  --input-slider-thumb-size: 12px;
  --input-slider-thumb-margin-top: calc(
    (var(--input-slider-thumb-size) / 2) * -1
  );
  --footer-color: var(--color-light);
  --footer-bg: var(--color-dark);
  --footer-gutter-wrapper-inner-block: var(--space-xl);
  --footer-cluster-direction: column;
  --footer-cluster-vertical-alignment: flex-start;
  --footer-cluster-row-gap: var(--space-2xs);
  --footer-cluster-column-gap: var(--space-2xs);
  --footer-flow-space: var(--space-3xl-4xl);
  --footer-margin-block-start: var(--space-3xl);
  --footer-margin-block-end: var(--gutter);
  --footer-brand-width: 20rem;
  --footer-link-default-decoration: none;
  --headline-cluster-direction: column-reverse;
  --headline-cluster-vertical-alignment: flex-start;
  --headline-cluster-row-gap: var(--space-s);
  --headline-cluster-column-gap: var(--space-s);
  --headline-repel-vertical-alignment: flex-end;
  --headline-heading-font-size: var(--size-step-8);
  --headline-heading-line-height: var(--leading-flat);
  --headline-lede-font-size: var(--size-step-3);
  --headline-lede-font-style: italic;
  --headline-lede-p-max-width: var(--measure-m, 45ch);
  --tab-panel-gutter-wrapper-inner-block: var(--space-s);
  --tab-panel-sidebar-target-width: 18rem;
  --tab-panel-stroke: var(--stroke);
  --tab-panel-item-padding-block: var(--space-xl);
  --tab-panel-triggers-display: flex;
  --tab-panel-triggers-align-items: center;
  --tab-panel-tab-flex-basis: 50%;
  --sign-up-gutter-wrapper-inner-block: var(--space-l);
  --sign-up-flow-space: var(--space-s);
  --sign-up-repel-column-gap: var(--space-2xl);
  --sign-up-repel-row-gap: var(--space-l);
  --sign-up-header-bg: var(--color-dark);
  --sign-up-header-color: var(--color-light);
  --sign-up-header-font-family: var(--font-display);
  --sign-up-header-font-size: var(--size-step-5);
  --sign-up-body-bg: var(--color-light-glare);
  --sign-up-body-color: var(--color-dark);
  --sign-up-logo-width: clamp(24px, 5vw, 35px);
  --sign-up-smallprint-font-size: var(--size-step--2);
  --sign-up-rss-action-icon-width: 1.125rem;
  --sign-up-rss-action-icon-text: var(--color-dark);
  --sign-up-rss-action-icon-text-hover: var(--color-secondary);
  --sign-up-rss-svg-width: 6rem;
  --sign-up-rss-svg-emphasis: var(--color-secondary-shade);
  --sign-up-form-gap: var(--space-s);
  --sign-up-form-gap-max-width: 36.25rem;
  --sign-up-form-status-max-width: 36.25rem;
  --sign-up-muted-header-bg: var(--color-light-glare);
  --sign-up-muted-color: var(--color-dark);
  --sign-up-muted-header-border-block-end: var(--stroke);
  --sign-up-muted-header-stroke-color: var(--color-light-glare);
  --sign-up-body-stroke-color: var(--color-light-glare);
  --sign-up-header-stroke-color: var(--color-dark);
  --hero-flow-space: var(--space-3xl);
  --hero-mark: var(--mark-bg-light);
  --hero-button-svg-color: currentColor;
  --hero-bg: var(--color-primary);
  --hero-text: var(--color-dark);
  --hero-heading-font-family: var(--font-display);
  --hero-heading-font-size: var(--size-step-7);
  --hero-heading-leading: var(--leading-flat);
  --hero-lede-font-size: var(--size-step-2);
  --hero-lede-text-wrap: balance;
  --hero-lede-font-family: var(--font-base);
  --hero-lede-font-style: italic;
  --hero-grid-gap: var(--space-l-xl);
  --hero-grid-heading-max-width: 12ch;
  --hero-grid-lede-max-width: 22ch;
  --hero-dl-cluster-column-gap: var(--space-2xs);
  --hero-dl-cluster-row-gap: var(--space-2xs);
  --hero-dl-dt-text-transform: none;
  --hero-dl-dt-font-family: var(--font-accent);
  --hero-dl-dt-font-weight: var(--font-bold);
  --hero-dl-dt-kerning: var(--kerning);
  --hero-dl-dt-display: inline;
  --hero-dl-dd-font-size: var(--size-step-0);
  --hero-dl-dd-display: inline;
  --hero-repel-vertical-alignment: flex-end;
  --hero-repel-column-gap: var(--space-2xs);
  --hero-repel-row-gap: var(--space-2xs);
  --post-list-header-gutter-wrapper-inner-block: var(--space-s);
  --post-list-no-header-margin-block-start: var(--space-xl);
  --header-padding-block-start: var(--space-m);
  --header-padding-block-start-sm: var(--space-xl);
  --header-tagline-padding-block: var(--space-s);
  --header-tagline-padding-block-end-md: var(--space-m);
  --header-tagline-font-size: var(--text-size-base);
  --header-tagline-font-family: var(--font-base);
  --header-tagline-font-weight: var(--font-normal);
  --header-tagline-leading: var(--leading-short);
  --header-tagline-em-font-style: italic;
  --header-byline-margin-block-start: var(--space-2xs);
  --header-byline-link-font-family: var(--font-accent);
  --header-byline-padding-block-end-lg: var(--space-m);
  --header-logo-width-md: calc(10rem + var(--gutter) * 2);
  --header-logo-padding-block-end-md: var(--space-m);
  --header-logo-margin-block-end-md: 0.3rem;
  --header-nav-sm-padding-block: var(--space-s);
  --header-nav-ul-wrap: wrap;
  --header-nav-ul-cluster-column-gap: var(--space-l);
  --header-nav-ul-cluster-column-gap-md: var(--space-xl);
  --header-nav-ul-cluster-row-gap: var(--space-xs);
  --header-nav-ul-cluster-horizontal-alignment: flex-start;
  --header-nav-ul-cluster-vertical-alignment: center;
  --header-nav-ul-cluster-direction: row;
  --header-nav-link-text-decoration: none;
  --header-nav-link-text-decoration-hover: underline;
  --header-nav-link-font-size: var(--size-step-0);
  --header-nav-link-font-family: var(--font-accent);
  --header-nav-link-line-height: var(--leading-slim);
  --header-nav-link-text-active-bg: var(--mark-bg, var(--color-primary));
  --header-controls-cluster-wrap: nowrap;
  --header-controls-cluster-column-gap: 0;
  --header-controls-cluster-row-gap: 0;
  --header-controls-icon-link-hidden-label-bg: transparent;
  --header-controls-margin-block-start: 0;
  --brand-header-padding-block-start: var(--space-m);
  --brand-header-padding-block-start-sm: var(--space-xl);
  --brand-header-tagline-padding-block: var(--space-s);
  --brand-header-tagline-padding-block-end-md: var(--space-m);
  --brand-header-tagline-font-size: var(--text-size-base);
  --brand-header-tagline-font-family: var(--font-base);
  --brand-header-tagline-font-weight: var(--font-normal);
  --brand-header-tagline-leading: var(--leading-short);
  --brand-header-tagline-em-font-style: italic;
  --brand-header-byline-margin-block-start: var(--space-2xs);
  --brand-header-byline-link-font-family: var(--font-accent);
  --brand-header-byline-padding-block-end-lg: var(--space-m);
  --brand-header-logo-padding-block-end-md: var(--space-m);
  --brand-header-logo-margin-block-end-md: 0.3rem;
  --brand-header-nav-sm-padding-block: var(--space-s);
  --brand-header-nav-ul-wrap: wrap;
  --brand-header-nav-ul-cluster-column-gap: var(--space-l);
  --brand-header-nav-ul-cluster-column-gap-md: var(--space-xl);
  --brand-header-nav-ul-cluster-row-gap: var(--space-xs);
  --brand-header-nav-ul-cluster-horizontal-alignment: flex-start;
  --brand-header-nav-ul-cluster-vertical-alignment: center;
  --brand-header-nav-ul-cluster-direction: row;
  --brand-header-nav-link-text-decoration: none;
  --brand-header-nav-link-text-decoration-hover: underline;
  --brand-header-nav-link-font-size: var(--size-step-0);
  --brand-header-nav-link-font-family: var(--font-accent);
  --brand-header-nav-link-line-height: var(--leading-slim);
  --brand-header-nav-link-text-active-bg: var(--mark-bg, var(--color-primary));
  --brand-header-controls-cluster-wrap: nowrap;
  --brand-header-controls-cluster-column-gap: 0;
  --brand-header-controls-cluster-row-gap: 0;
  --brand-header-controls-icon-link-hidden-label-bg: transparent;
  --brand-header-controls-margin-block-start: 0;
}
[data-user-theme="dark"] {
  --color-global-bg: var(--color-dark);
  --color-global-text: var(--color-light);
  --stroke-color: var(--color-light);
  --color-code-1: var(--color-light);
  --color-code-2: var(--color-grey-15);
  --color-code-3: var(--color-grey-14);
  --color-code-4: var(--color-grey-13);
  --color-code-5: var(--color-grey-12);
  --color-code-6: var(--color-grey-11);
  --color-code-7: var(--color-grey-10);
  --text-decoration-color: var(--color-primary);
  --code-color: var(--color-secondary-glare);
  --color-selection-text: var(--color-dark);
  --color-selection-bg: var(--color-primary-glare);
  --article-text-decoration-color: var(--color-secondary-glare);
  --author-summary-text-decoration-color: var(--color-secondary-glare);
  --button-dark-bg: var(--color-light);
  --button-dark-text: var(--color-dark);
  --button-dark-border-color: var(--color-light);
  --button-dark-bg-hover: transparent;
  --button-dark-text-hover: var(--color-light);
  --button-dark-border-color-hover: var(--color-light);
  --button-light-bg: var(--color-dark);
  --button-light-text: var(--color-light);
  --button-light-border-color: var(--color-dark);
  --button-light-bg-hover: transparent;
  --button-light-text-hover: var(--color-dark);
  --button-light-border-color-hover: var(--color-dark);
  --button-ghost-dark-bg: transparent;
  --button-ghost-dark-text: var(--color-light);
  --button-ghost-dark-border-color: var(--color-light);
  --button-ghost-dark-bg-hover: var(--color-light);
  --button-ghost-dark-text-hover: var(--color-dark);
  --button-ghost-dark-border-color-hover: var(--color-light);
  --button-ghost-light-bg: transparent;
  --button-ghost-light-text: var(--color-dark);
  --button-ghost-light-border-color: var(--color-dark);
  --button-ghost-light-bg-hover: var(--color-dark);
  --button-ghost-light-text-hover: var(--color-light);
  --button-ghost-light-border-color-hover: var(--color-dark);
  --button-svg-color: var(--color-primary);
  --mark-bg: linear-gradient(
    0deg,
    transparent 20%,
    rgba(var(--color-dark-glare-rgb), 1) 20%,
    rgba(var(--color-dark-glare-rgb), 1) 84%,
    transparent 84%
  );
  --ribbon-border-block-start: var(--space-s-m) solid var(--color-primary);
  --badge-color: var(--text-light);
  --badge-hover-bg: var(--color-light);
  --badge-hover-color: var(--color-dark);
  --badge-hover-border-color: var(--color-light);
  --banner-color: var(--color-dark);
  --banner-bg: var(--color-light);
  --fyi-unit-bg: var(--color-dark-glare);
  --icon-link-text-decoration-color: var(--text-decoration-color);
  --icon-link-hidden-label-bg: var(--color-dark);
  --icon-link-hidden-label-color: var(--color-light);
  --icon-link-hidden-label-bg-hover: var(--color-light);
  --icon-link-hidden-label-color-hover: var(--color-dark);
  --pagination-item-bg-hover: var(--color-light);
  --pagination-item-text-hover: var(--color-dark);
  --author-summary-text-decoration-color-hover: var(--color-light);
  --topics-list-scroll-bar-track-color: var(--color-grey-1);
  --topics-list-scroll-bar-thumb-color: var(--color-grey-5);
  --topics-list-bg: var(--color-dark-glare);
  --code-block-header-button-bg: var(--color-dark);
  --code-block-header-button-bg-hover: var(--color-light);
  --code-block-header-button-text: var(--color-light);
  --code-block-header-button-text-hover: var(--color-dark);
  --code-block-alert-bg: var(--color-light);
  --code-block-alert-text: var(--color-dark);
  --code-block-code-bg: var(--color-dark-glare);
  --preview-frame-bg: var(--color-dark);
  --preview-frame-text: var(--color-light);
  --preview-frame-header-button-bg: var(--color-dark);
  --preview-frame-header-button-bg-hover: var(--color-light);
  --preview-frame-header-button-text: var(--color-light);
  --preview-frame-header-button-text-hover: var(--color-dark);
  --post-heading-text-decoration-color: var(--color-primary);
  --flow-cta-bg: var(--color-dark-glare);
  --footer-color: var(--color-light);
  --footer-bg: var(--color-dark-glare);
  --headline-light-bg: var(--color-dark-glare);
  --sign-up-body-bg: var(--color-dark);
  --sign-up-body-color: var(--color-light);
  --sign-up-rss-action-icon-text: var(--color-light);
  --sign-up-body-stroke-color: var(--color-light);
  --sign-up-header-stroke-color: var(--color-light);
  --sign-up-header-stroke-bottom-color: var(--color-dark);
  --sign-up-header-bg: var(--color-dark-glare);
  --sign-up-rss-svg-emphasis: currentColor;
  --sign-up-muted-header-bg: var(--color-dark);
  --sign-up-muted-color: var(--color-light);
  --sign-up-muted-header-stroke-color: var(--color-light);
  --closing-cta-bg: var(--color-dark-glare);
  --closing-cta-badge-filter: invert(1) grayscale(1);
  --closing-cta-flow-cta-bg: var(--color-dark);
  --block-cta-color: var(--color-dark);
}
