{% case _code_lang %}
  {% when 'bash', 'zsh', 'ksh', 'sh', 'ps1', 'bat', 'cmd' %}
    {% assign _label_icon = 'terminal-2' %}
  {% when 'plain', 'text', 'txt' %}
    {% assign _label_icon = 'file' %}
  {% when 'javascript', 'js' %}
    {% assign _label_text = 'JavaScript' %}
    {% assign _label_icon = 'brand-javascript' %}
  {% when 'ts', 'typescript' %}
    {% assign _label_text = 'TypeScript' %}
    {% assign _label_icon = 'brand-typescript' %}
  {% when 'php', 'php3', 'php4', 'php5' %}
    {% assign _label_text = 'PHP' %}
    {% assign _label_icon = 'brand-php' %}
  {% when 'py', 'python' %}
    {% assign _label_text = 'Python' %}
    {% assign _label_icon = 'brand-python' %}
  {% when 'rb', 'ruby' %}
    {% assign _label_text = 'Ruby' %}
    {% assign _label_icon = 'diamond' %}
  {% when 'json' %}
    {% assign _label_icon = 'braces' %}
  {% when 'sass', 'scss' %}
    {% assign _label_icon = 'brand-sass' %}
  {% when 'css', 'css3', 'stylesheet' %}
    {% assign _label_icon = 'brand-css3' %}
  {% when 'html' %}
    {% assign _label_icon = 'brand-html5' %}
  {% when 'css', 'html', 'scss', 'ssh', 'toml', 'xml', 'yaml', 'json' %}
    {% assign _label_text = _code_lang | upcase %}
{% endcase %}
