@use "utilities" as *;

// https://www.joshwcomeau.com/css/center-a-div/#centering-within-the-viewport-3

.wrapper {
  max-width: calc(#{$width-stack} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: calc($spacing-unit * 0.5);
  padding-left: calc($spacing-unit * 0.5);
  @extend %clearfix;

  @media screen and (min-width: $width-stack) {
    max-width: calc(#{$width-stack} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.footer,
.header {
  background: var(--bg-2);
  padding: $spacing-unit;
}

/**
 * Simple layout
 */
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  @include breakpoint($on-mobile, max) {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.col {
  padding: $spacing-unit;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;

  &.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  &.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

  @for $i from 1 through 12 {
    &-#{$i} {
      -ms-flex-preferred-size: calc(calc(100% / 12) * $i);
      flex-basis: calc(calc(100% / 12) * $i);
      max-width: calc(calc(100% / 12) * $i);
    }
  }
}

/**
 * Utilities Classes
 */
.sticky {
  position: -webkit-sticky !important; // Safari
  position: sticky !important;
  z-index: 3 !important;
  top: 0;
}

/* Hide elements using this class by default */
.only-on-mobile {
  display: none !important;
}

@include breakpoint($on-mobile, max) {
  .center-on-mobile {
    text-align: center !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .only-on-mobile {
    display: block !important;
  }
}

.screen-reader {
  display: none;
}

.visible {
  display: inline-block;
}

.icon-svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
}

svg.icon,
svg.icon-tabler {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  display: inline-block;
  vertical-align: middle;
}

.clearfix,
%clearfix {
  @include clearfix;
}
