@use "utilities" as *;

// https://www.joshwcomeau.com/css/center-a-div/#centering-within-the-viewport-3
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.wrapper {
  max-width: calc(#{$width-stack} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: calc($spacing-unit * 0.5);
  padding-left: calc($spacing-unit * 0.5);
  @extend %clearfix;

  @media screen and (min-width: $width-stack) {
    max-width: calc(#{$width-stack} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.header,
.footer {
  background: var(--bg-2);
  color: var(--tx-1);
  padding: $spacing-unit;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-unit;

  .content {
    flex: 1;
    min-width: 250px;
    padding: $spacing-unit;
    background: var(--bg-1);
    margin: 0.5rem;
  }

  .sidebar {
    flex: 0 0 256px;
    padding: $spacing-unit;
    background: var(--bg-3);
    color: var(--tx-1);
    margin: 0.5rem;
  }
}

@media (max-width: 768px) {
  .main-content {
    // flex-direction: column;

    .sidebar {
      display: none;
      // order: -1;
    }
  }
}

/**
 * Utilities Classes
 */
.sticky {
  position: -webkit-sticky !important; // Safari
  position: sticky !important;
  z-index: 3 !important;
  top: 0;
}

/* Hide elements using this class by default */
.only-on-mobile {
  display: none !important;
}

@include breakpoint($width-stack, max) {
  .center-on-mobile {
    text-align: center !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  .only-on-mobile {
    display: block !important;
  }
}

.screen-reader {
  display: none;
}

.visible {
  display: inline-block;
}

.icon-svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  display: inline-block;
  vertical-align: text-bottom;
}

svg.icon,
svg.icon-tabler {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;

  display: inline-block;
  vertical-align: middle;
}

.clearfix,
%clearfix {
  @include clearfix;
}
