// Prefix for CSS variables
$css-var-prefix: "" !default; // e.g., "dblog-"

// Color neutrals
$base00: #020617 !default;
$base01: #0f172a !default;
$base02: #334155 !default;
$base03: #475569 !default;
$base04: #64748b !default;
$base05: #94a3b8 !default;
$base06: #cbd5e1 !default;
$base07: #e2e8f0 !default;
$base08: #f1f5f9 !default;
$base09: #f8fafc !default;

// Color palettes
$red: #dc322f !default;
$orange: #cb4b16 !default;
$yellow: #b58900 !default;
$green: #859900 !default;
$cyan: #2aa198 !default;
$blue: #268bd2 !default;
$violet: #6c71c4 !default;
$magenta: #d33682 !default;
$red-light: #cc6666 !default;
$orange-light: #de935f !default;
$yellow-light: #f0c674 !default;
$green-light: #b5bd68 !default;
$cyan-light: #8abeb7 !default;
$blue-light: #81a2be !default;
$violet-light: #b294bb !default;
$magenta-light: #eb5ea2 !default;
