<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- seo -%}
    {%- feed_meta -%}
    {% include_cached origin %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body id="top">
    <header class="site-header">
      <div class="wrapper">
        <div class="header__inner">
          <h1 class="site-brand">
            <a href="{{ '/' | relative_url }}" aria-label="{{ site.title }}">{{ site.title }}</a>
          </h1>
          <nav class="site-nav">
            <ul class="nav-list">
              <li><a href="{{ '/about' | relative_url }}">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main class="site-content">
      <div class="wrapper">
        <div class="content__inner">
          {{ content | page_modified }}
        </div>
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="footer__inner">
          <div class="footer-column">
            <p class="site-copyright">
              &copy; {{ site.time | date: '%Y' }}
              {{ site.title }}. All rights reserved.
            </p>
          </div>
          <div class="footer-column">
            <p class="site-description">{{ site.description }}</p>
          </div>
        </div>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
