<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    <header class="site-header">
      <div class="wrapper">
        <div class="site-header__inner">
          <h1 class="site-brand">
            {%- assign site_brand = site.brand | default: site.title -%}
            <a class="site-link" href="{{- '/' | absolute_url -}}" title="{{- site_brand -}}'s logo">
              {{- site_brand -}}
            </a>
          </h1>
          {% include navbar.html type='header' %}
        </div>
      </div>
    </header>

    <main class="site-content">
      <div class="wrapper">
        <div class="site-content__inner">
          {{ content | page_modified }}
        </div>
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="site-footer__inner">
          <div class="row">
            <div class="col">
              <h5 class="foot-title">Legal</h5>
              {% include navbar.html type='footer' %}
            </div>
            <div class="col order-1-mb">
              <h5 class="foot-brand">{{ site.title }}</h5>
              <p class="foot-description">{{ site.description }}</p>
            </div>
            <div class="col col-12">
              {% include copyright.html %}
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% include scripts.html %}
  </body>
</html>
