---
# Layout for remove HTML comments
# LIMITATION: Does not work for <script> elements
---
{%- assign parts = content | split: '<!--' -%}
{%- assign cleaned_content = '' -%}

{%- for part in parts -%}
  {%- if forloop.first -%}
    {%- assign cleaned_content = part -%}
  {%- else -%}
    {%- assign subparts = part | split: '-->' -%}
    {%- if subparts.size > 1 -%}
      {%- assign cleaned_content = cleaned_content | append: subparts[1] -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{{ cleaned_content }}
