---
layout: cleaned
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en'}}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="main-content">
      <section class="content">
        {% include selector.html %}
      </section>
      {% if page.layout != 'home' %}
        <aside class="sidebar">
          {% include toc.html %}
        </aside>
      {% endif %}
    </main>
    {% include footer.html %}
    <script src="{{- '/assets/js/main.js' | relative_url -}}"></script>
    {%- include scripts.html -%}
  </body>
</html>
