---
layout: cleaned
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en'}}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="row" aria-label="Content">
      <section class="col middle {% if page.layout == 'page' %}wrapper{% endif %}">
        {% include selector.html %}
      </section>
      {% if page.layout == 'post' %}
        <aside class="col col-3 side">
          {% include toc.html %}
        </aside>
      {% endif %}
    </main>
    {% include footer.html %}
    <script src="{{- '/assets/js/main.js' | relative_url -}}"></script>
    {%- include scripts.html -%}
  </body>
</html>
