---
layout: base
---
<div class="section-home">
  {% include hero.html %}
  <section class="featured-posts">
    <div class="section-title">
      <h2><span>Featured</span></h2>
    </div>
    <div class="section-block column-2">
      {% include post-list.html grid='row' type='featured' desc=true %}
    </div>
  </section>
  <section class="random-posts">
    <div class="section-title">
      <h2><span>Random</span></h2>
      <a href="{{ '/blog/' | relative_url }}">All posts</a>
    </div>
    <div class="section-block column-3">
      {% include post-list.html grid='col' max=3 type='random' desc=true %}
    </div>
  </section>
</div>
