---
layout: base
---
{%- assign post_image = page.image.src | default: page.image -%}
{%- assign post_author = page.author | default: site.author -%}
{%- assign date_format = site.date_format | default: '%b %d, %Y' -%}
{%- assign date_modified = page.modified_at | default: page.last_modified_at %}
{%- capture read_time -%}{%- include read-time.html -%}{%- endcapture -%}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <p class="post-metadata">
      <time class="date-time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
        {{- page.date | date: date_format -}}
      </time>
      {%- comment -%}
        {%- if date_modified -%}
          {{- '·' -}}
          <time itemprop="dateModified" datetime="{{ date_modified | date_to_xmlschema }}">
            {{- date_modified | date: date_format -}}
          </time>
        {%- endif -%}
      {%- endcomment -%}
      {%- if read_time.size > 0 -%}
        {{- '·' -}}
        <span class="read-time">{{ read_time }} min read</span>
      {%- endif -%}
    </p>
    <h1 class="post-title">{{ page.title }}</h1>
    {%- if page.description -%}
      <p class="post-summary">{{ page.description }}</p>
    {%- endif -%}
    {%- if post_author -%}
      <p class="post-author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          {%- if post_author.name and post_author.url -%}
            <a itemprop="url" href="{{ post_author.url | relative_url }}">
              <span itemprop="name">{{ post_author.name }}</span>
            </a>
          {%- else -%}
            <span itemprop="name">{{ post_author }}</span>
          {%- endif -%}
        </span>
      </p>
    {%- endif %}
    {%- if post_image -%}
      {%- include image class='post-thumb' -%}
    {%- endif -%}
  </header>
  <section class="post-content" itemprop="articleBody">
    {%- include toc.html html=content -%}
    {{- content -}}
  </section>
  <footer class="post-footer">
    {%- include pagination.html -%}
  </footer>
</article>
{% comment %}
  <aside class="side">
    {% include toc.html type='side' html=content %}
  </aside>
{% endcomment %}
