---
layout: base
---
{% assign post_image = page.image.src | default: page.image %}
{% assign post_author = page.author | default: site.author %}
{% assign date_format = site.date_format | default: '%b %d, %Y' %}
{% assign date_modified = page.modified_at | default: page.last_modified_at %}
{% capture read_time %}{% include read-time.html %}{% endcapture %}

<article class="article-post" itemscope itemtype="http://schema.org/BlogPosting">
  {% if post_image %}
    {% include image.html class='post-thumb' %}
  {% endif %}
  <section class="wrapper mx-md">
    <header class="post-header">
      <p class="post-metadata">
        {% if post_author %}
          <span class="post-author">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              {% if post_author.name and post_author.url %}
                <a itemprop="url" href="{{ post_author.url | relative_url }}">
                  <span itemprop="name">{{ post_author.name }}</span>
                </a>
              {% else %}
                <span itemprop="name">{{ post_author }}</span>
              {% endif %}
            </span>
          </span>
          {{- '·' -}}
        {% endif %}
        <time class="date-time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
          {{- page.date | date: date_format -}}
        </time>
        {% comment %}
          {% if date_modified %}
            {{- '·' -}}
            <time itemprop="dateModified" datetime="{{ date_modified | date_to_xmlschema }}">
              {{- date_modified | date: date_format -}}
            </time>
          {% endif %}
        {% endcomment %}

        {% if read_time %}
          {{- '·' -}}
          <span class="read-time">{{ read_time }}</span>
        {% endif %}
      </p>

      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.tags.size > 0 %}
        <p class="post-tags" itemprop="keywords">
          {% for tag in page.tags %}
            <span class="badge">{{- tag -}}</span>
          {% endfor %}
        </p>
      {% endif %}
    </header>

    <section class="post-content" itemprop="articleBody">
      {{- content -}}
    </section>

    <footer class="post-footer">
      {% include pagination.html %}
      {% include comments.html %}
    </footer>
  </section>
</article>

<hr class="sep">

<aside class="related-post">
  <div class="section-block column-3">
    {% include post-list.html grid='col' max=3 type='related' %}
  </div>
</aside>
