@use "../helpers" as *;
@use "../variables" as *;

.section-home {
  .heropage {
    background-color: var(--color-glare);
    margin-bottom: calc(var(--space-unit) * 2);
    padding: var(--space-unit);

    @include media-query("md", "min") {
      text-align: center;
    }

    .hero-heading,
    .hero-summary {
      max-width: var(--width-medium);
      margin-left: auto;
      margin-right: auto;
    }

    .hero-heading {
      font-family: var(--font-title);
      font-size: var(--font-size-cxxxl);
      font-weight: 900;
    }

    .hero-summary {
      font-family: var(--font-serif);
      font-size: var(--font-size-cmd);
      font-weight: 400;
    }
  }

  .featured-posts,
  .random-posts {
    margin-bottom: var(--space-unit-clg);
  }
}
