@use "../helpers" as *;
@use "../variables" as *;

.page {
  margin-top: calc(var(--gutter-unit) * -1);
  .hero-fluid {
    text-align: center;
  }

  @include media-query("md", "max") {
    .hero.hero-fluid {
      max-height: 50vh;
    }
  }
}
