@use "../helpers" as *;
@use "../variables" as *;

.section-page {
  .page-header {
    text-align: center;
    background-color: var(--color-glare);
    margin-bottom: var(--space-unit-xl);
    padding: var(--space-unit);

    > * {
      @extend %wrapper;
    }
  }

  .page-content {
    @extend %wrapper;
    padding-top: var(--space-unit);
    padding-bottom: var(--space-unit);
  }

  %wrapper {
    max-width: var(--width-medium);
    margin-left: auto;
    margin-right: auto;
  }
}
