@use "../helpers" as *;
@use "../variables" as *;

.post:has(~ .side) {
  flex: 3;
}

.side {
  flex: 1;
  // order: -1;
}

.post {
  // max-width: calc(var(--width-content) * 0.7);
  // margin: 0 auto;

  .post__header,
  .post__footer,
  .post__content {
    padding: var(--space-unit);

    @include media-query("md", "max") {
      margin-inline: calc(var(--space-unit) * -1);
    }
  }

  .post__header {
    font-family: var(--font-sans);

    .post-thumb {
      display: none;
      background-color: var(--color-glare);
      border-radius: 5px;
      padding: var(--space-unit-xs);

      img {
        vertical-align: middle;
      }

      figcaption {
        margin-top: var(--space-unit-xs);
        text-align: center;
      }
    }

    .post-title {
      font-family: var(--font-title);
      font-size: clamp(2rem, 6vw, 3rem);
      font-weight: bolder;
      line-height: 1.3;
      margin-top: 0;
    }

    .post-summary,
    .post-metadata {
      margin-bottom: var(--space-unit-xs);
    }

    .post-metadata {
      display: flex;
      gap: clamp(5px, 1vw, 10px);
    }
  }

  .post__content {
    font-family: var(--font-sans);
    font-size: var(--font-size-c);
    line-height: 1.6;

    h1,
    h2,
    h3 {
      font-family: var(--font-title);
    }

    h4,
    h5,
    h6 {
      font-family: var(--font-sans);
    }
  }
}
